openapi: 3.2.0
info:
  title: Adobe Launch Callbacks API
  version: '1.0'
  description: 'Operations tagged Callbacks across 2 of this provider''s published API definitions: adobe-launch-reactor-api-published-openapi.yml, reactor-api.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: //reactor.adobe.io
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server
tags:
- name: Callbacks
  description: A callback is a message that Platform sends to a URL host whenever a new audit event is generated.
paths:
  /properties/{PROPERTY_ID}/callbacks:
    get:
      tags:
      - Callbacks
      summary: List a property's callbacks
      description: '>**NOTE**: For more information on using this operation, see the callbacks endpoint guide on Experience League.'
      operationId: listCallbacks
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose callbacks you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of callbacks belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/callbacksListResponse'
    post:
      tags:
      - Callbacks
      summary: Create a new callback
      description: '>**NOTE**: For more information on using this operation, see the callbacks endpoint guide on Experience League.'
      operationId: createCallback
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a callback for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/callbacksCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created callback.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/callbacksCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /callbacks/{CALLBACK_ID}:
    get:
      tags:
      - Callbacks
      summary: Retrieve a callback
      description: '>**NOTE**: For more information on using this operation, see the callbacks endpoint guide on Experience League.'
      operationId: retrieveCallback
      parameters:
      - name: CALLBACK_ID
        in: path
        description: The ID of the callback you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the callback.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/callbacksLookupResponse'
    delete:
      tags:
      - Callbacks
      summary: Delete a callback
      description: '>**NOTE**: For more information on using this operation, see the callbacks endpoint guide on Experience League.'
      operationId: deleteCallback
      parameters:
      - name: CALLBACK_ID
        in: path
        description: The ID of the callback you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Callbacks
      summary: Update a callback
      description: '>**NOTE**: For more information on using this operation, see the callbacks endpoint guide on Experience League.'
      operationId: updateCallback
      parameters:
      - name: CALLBACK_ID
        in: path
        description: The ID of the callback you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/callbacksUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated callback.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/callbacksUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /properties/{propertyId}/callbacks:
    get:
      operationId: listCallbacksForProperty
      summary: List Callbacks for a Property
      description: Retrieve all callbacks belonging to a property.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of callbacks.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackListResponse'
              examples:
                Listcallbacksforproperty200Example:
                  summary: Default listCallbacksForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: callbacks
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    post:
      operationId: createCallback
      summary: Create a Callback
      description: Create a new callback under the specified property.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CallbackCreateRequest'
            examples:
              CreatecallbackRequestExample:
                summary: Default createCallback request
                x-microcks-default: true
                value:
                  data:
                    type: callbacks
                    attributes:
                      url: https://www.example.com
                      subscriptions:
                      - {}
      responses:
        '201':
          description: Callback created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackSingleResponse'
              examples:
                Createcallback201Example:
                  summary: Default createCallback 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: callbacks
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /callbacks/{callbackId}:
    get:
      operationId: getCallback
      summary: Retrieve a Callback
      description: Look up a specific callback by its ID.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/callbackId'
      responses:
        '200':
          description: Callback details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackSingleResponse'
              examples:
                Getcallback200Example:
                  summary: Default getCallback 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: callbacks
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    patch:
      operationId: updateCallback
      summary: Update a Callback
      description: Modify a callback's URL or subscriptions.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/callbackId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CallbackUpdateRequest'
            examples:
              UpdatecallbackRequestExample:
                summary: Default updateCallback request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: callbacks
                    attributes:
                      url: https://www.example.com
                      subscriptions:
                      - {}
      responses:
        '200':
          description: Callback updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackSingleResponse'
              examples:
                Updatecallback200Example:
                  summary: Default updateCallback 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: callbacks
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    delete:
      operationId: deleteCallback
      summary: Delete a Callback
      description: Remove a callback. Returns HTTP 204 on success.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/callbackId'
      responses:
        '204':
          description: Callback deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
components:
  schemas:
    callbacksEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the callback was created in the system.
              subscriptions:
                type: array
                description: Lists the audit event types that this callback is subscribed to.
                items:
                  type: string
              updated_at:
                type: string
                description: A timestamp of when the callback was last updated.
              url:
                type: string
                description: The URL that the callback will send messages to.
            description: Contains the callback's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this callback.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the callback.
              self:
                type: string
                description: A link to the callback itself.
            description: Contains links related to the callback which can be used in subsequent fetch requests.
    callbacksCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateNoType'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/callbacksAttributes'
    callbacksLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/callbacksEntity'
    dataCreateNoType:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
          description: Contains the attributes for the resource being created.
    callbacksUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataUpdate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/callbacksAttributes'
    callbacksListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    dataUpdate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - id
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The modified attributes for the resource being updated.
            id:
              type: string
              description: The ID of resource being updated.
            type:
              type: string
              description: The type of resource being updated.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being updated.
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    callbacksAttributes:
      type: object
      properties:
        subscriptions:
          type: array
          description: Lists the audit event types that this callback is subscribed to.
          items:
            type: string
        url:
          type: string
          description: The URL that the callback will send messages to.
    callbacksUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/callbacksLookupResponse'
    callbacksCreateResponse:
      allOf:
      - $ref: '#/components/schemas/callbacksLookupResponse'
    CallbackUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - callbacks
            attributes:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                subscriptions:
                  type: array
                  items:
                    type: string
          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    CallbackCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - callbacks
            attributes:
              type: object
              required:
              - url
              - subscriptions
              properties:
                url:
                  type: string
                  format: uri
                subscriptions:
                  type: array
                  items:
                    type: string
          example: example_value
    CallbackSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CallbackResource'
    CallbackAttributes:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The HTTPS URL to send callback messages to.
          example: https://www.example.com
        subscriptions:
          type: array
          items:
            type: string
          description: The audit event types that trigger the callback.
          example: []
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    CallbackResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - callbacks
          example: callbacks
        attributes:
          $ref: '#/components/schemas/CallbackAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    CallbackListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CallbackResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
  responses:
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    pageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Number of results per page.
    filterUpdatedAt:
      name: filter[updated_at]
      in: query
      schema:
        type: string
      description: Filter by last updated date.
    filterCreatedAt:
      name: filter[created_at]
      in: query
      schema:
        type: string
      description: Filter by creation date.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
    pageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
      description: Page number for pagination.
    callbackId:
      name: callbackId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a callback.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Server-to-Server access token obtained from Adobe Developer Console. Tokens expire every 24 hours.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
x-refined-from:
- adobe-launch-reactor-api-published-openapi.yml
- reactor-api.yml
