openapi: 3.2.0
info:
  title: Adobe Launch Libraries API
  version: '1.0'
  description: 'Operations tagged Libraries across 3 of this provider''s published API definitions: adobe-launch-reactor-api-published-openapi.yml, event-forwarding-api.yml, reactor-api.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: //reactor.adobe.io
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server
tags:
- name: Libraries
  description: A library is a collection of resources (extensions, rules, and data elements) that represent the desired behavior of a property. Libraries are compiled into builds, and those builds are assigned to different environments as they move down the publishing flow from testing to production.
paths:
  /properties/{PROPERTY_ID}/libraries:
    get:
      tags:
      - Libraries
      summary: List a property's libraries
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listLibraries
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose libraries you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: stale
        in: query
        description: Filter by `stale` status. A library becomes stale when another library on the [upstream](https://experienceleague.adobe.com/docs/experience-platform/tags/publish/publishing-flow.html#upstream) has been changed and the current library needs to be rebuilt to reflect those changes. A library may also enter a stale state if one of the extensions it uses receives an update.
        schema:
          type: string
      - name: state
        in: query
        description: Filter by `state`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of libraries belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesListResponse'
    post:
      tags:
      - Libraries
      summary: Create a library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: createLibrary
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a library for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}:
    get:
      tags:
      - Libraries
      summary: Retrieve a library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: retrieveLibrary
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesLookupResponse'
    delete:
      tags:
      - Libraries
      summary: Delete a library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: deleteLibrary
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Libraries
      summary: Update a library
      description: 'This endpoint allows you to update the name of a library, or transition the library between different states in the publishing flow.


        When updating a library, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.


        To transition the library between states, the payload must include a `meta` object, containing a single `action` property whose value represents the specific transition action. The available actions for a library depend on its current publishing state. See the API guide on transitioning a library for details on the available actions for each library state.


        To update the name of a library, the payload must include an `attributes` object, containing a single `name` property with the updated value.


        >**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: updateLibrary
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/property:
    get:
      tags:
      - Libraries
      summary: Retrieve a library's property
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: retrieveLibraryProperty
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose related property you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the property associated with the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesPropertyLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/builds:
    get:
      tags:
      - Libraries
      summary: List a library's builds
      description: '>**NOTE**: For more information on using this operation, see the builds endpoint guide on Experience League.'
      operationId: listLibraryBuilds
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose builds you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by `status`.
        schema:
          type: string
      - name: token
        in: query
        description: Filter by `token`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of builds belonging to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/buildsListResponse'
    post:
      tags:
      - Libraries
      summary: Create a build
      description: 'This POST request does not accept a payload, as the build parameters are determined by the parent library.


        >**NOTE**: For more information on using this operation, see the builds endpoint guide on Experience League.'
      operationId: createBuild
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to create a build for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created build.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/buildsCreateResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/environment:
    get:
      tags:
      - Libraries
      summary: Retrieve a library's related environment
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: retrieveLibraryEnvironment
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose related environment you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment associated with the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesLookupEnvironmentResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/upstream_library:
    get:
      tags:
      - Libraries
      summary: Retrieve a library's upstream library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: retrieveUpstreamLibrary
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose upstream library you want to retrieve.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the upstream library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesLookupUpstreamResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/data_elements:
    get:
      tags:
      - Libraries
      summary: List a library's related data elements
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listLibraryDataElements
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose related data elements you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of data elements related to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesDataElementsListResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/relationships/data_elements:
    get:
      tags:
      - Libraries
      summary: List a library's data element relationships
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listLibraryRelationships
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose data element relationships you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of data element relationships attached to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesDataElementRelationshipsListResponse'
    post:
      operationId: addDataElement
      tags:
      - Libraries
      summary: Add data elements to a specific library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to add data elements to.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesCreateDataElementRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the newly created relationship.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesDataElementRelationshipsCreateResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Libraries
      summary: Remove a library's data element relationships
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: deleteLibraryRelationships
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to remove a data element relationship from.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesDeleteDataElementRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the removed relationship.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesDataElementRelationshipsDeleteResponse'
      x-codegen-request-body-name: body
    patch:
      tags:
      - Libraries
      summary: Replace all data element relationships for a specific library
      description: 'This call replaces all of the existing data element relationships for a library with those you provide in the payload array.


        >**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: updateLibraryRelationships
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to replace a data element relationship for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesUpdateDataElementRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the updated relationship.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesDataElementRelationshipsUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/relationships/environment:
    get:
      operationId: getLibraryEnvironmentRelationship
      tags:
      - Libraries
      summary: Retrieve a library's environment relationship
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose environment relationship you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the environment relationship attached to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesEnvironmentRelationshipLookupResponse'
    delete:
      tags:
      - Libraries
      summary: Remove a library's environment relationship
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: removeLibraryRelationship
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to remove an environment relationship from.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the removed relationship.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesEnvironmentRelationshipDeleteResponse'
    patch:
      tags:
      - Libraries
      summary: Set a library's environment relationship
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: updateLibraryRelationship
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to set an environment relationship for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesCreateEnvironmentRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the established relationship.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesEnvironmentRelationshipCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/extensions:
    get:
      tags:
      - Libraries
      summary: List a library's related extensions
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listLibraryExtensions
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose related extensions you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of extensions associated with the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesExtensionsListResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/relationships/extensions:
    get:
      tags:
      - Libraries
      summary: List a library's extension relationships
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listExtensionRelationships
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose extension relationships you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of extension relationship objects attached to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesExtensionRelationshipsListResponse'
    post:
      tags:
      - Libraries
      summary: Add extensions to a specific library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: addExtension
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to add extensions to.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesCreateExtensionRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of extension relationships attached to the library, including those just added.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesExtensionRelationshipsCreateResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Libraries
      summary: Remove a library's extensions
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: removeLibraryExtensions
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to remove extensions from.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the updated list of extensions for the library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesExtensionRelationshipsDeleteResponse'
    patch:
      tags:
      - Libraries
      summary: Replace all extensions for a specific library
      description: 'This call replaces all of the existing extension relationships for a library with those you provide in the payload array.


        >**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: updateLibraryExtensions
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose extensions you want to replace.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesUpdateExtensionRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of the library's replaced extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesExtensionRelationshipsUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/rules:
    get:
      tags:
      - Libraries
      summary: List a library's related rules
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listLibraryRules
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose related rules you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of rules associated with the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesRulesListResponse'
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/relationships/rules:
    get:
      tags:
      - Libraries
      summary: List a library's rule relationships
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: listLibraryRuleRelationships
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose rule relationships you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of rule relationship objects attached to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesRuleRelationshipsListResponse'
    post:
      tags:
      - Libraries
      summary: Add rules to a specific library
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: addLibraryRules
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to add rules to.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesCreateRuleRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of rule relationships attached to the library, including those just added.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesRuleRelationshipsCreateResponse'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Libraries
      summary: Remove a library's rules
      description: '>**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: removeLibraryRules
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to remove rules from.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesDeleteRuleRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the updated list of rules for the library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesRuleRelationshipsDeleteResponse'
      x-codegen-request-body-name: body
    patch:
      tags:
      - Libraries
      summary: Replace all rules for a specific library
      description: 'This call replaces all of the existing rule relationships for a library with those you provide in the payload array.


        >**NOTE**: For more information on using this operation, see the libraries endpoint guide on Experience League.'
      operationId: updateLibraryRules
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose rules you want to replace.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesUpdateRuleRelationshipsPayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of the library's replaced rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesRuleRelationshipsUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{LIBRARY_ID}/notes:
    get:
      tags:
      - Libraries
      summary: List a library's notes
      description: '>**NOTE**: For more information on using this operation, see the notes endpoint guide on Experience League.'
      operationId: listLibraryNotes
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of notes attached them library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesNotesListResponse'
    post:
      tags:
      - Libraries
      summary: Create a note for a library
      description: '>**NOTE**: For more information on using this operation, see the notes endpoint guide on Experience League.'
      operationId: createLibraryNote
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to create a note for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/librariesNotesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created note.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/librariesNotesCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /properties/{propertyId}/libraries:
    get:
      operationId: listEventForwardingLibraries
      summary: List Event Forwarding Libraries
      description: Retrieve libraries for an event forwarding property.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'
              examples:
                Listeventforwardinglibraries200Example:
                  summary: Default listEventForwardingLibraries 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    post:
      operationId: createEventForwardingLibrary
      summary: Create an Event Forwarding Library
      description: Create a new library for event forwarding deployment.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryCreateRequest'
            examples:
              CreateeventforwardinglibraryRequestExample:
                summary: Default createEventForwardingLibrary request
                x-microcks-default: true
                value:
                  data:
                    type: libraries
                    attributes:
                      name: Example Title
      responses:
        '201':
          description: Library created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Createeventforwardinglibrary201Example:
                  summary: Default createEventForwardingLibrary 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Retrieve a Library
      description: Look up a specific library by its ID.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Library details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse_2'
              examples:
                Getlibrary200Example:
                  summary: Default getLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    patch:
      operationId: updateLibrary
      summary: Update a Library
      description: Transition a library's publishing state or modify its attributes.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryUpdateRequest'
            examples:
              UpdatelibraryRequestExample:
                summary: Default updateLibrary request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: libraries
                    attributes:
                      name: Example Title
                    meta:
                      action: submit
      responses:
        '200':
          description: Library updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse_2'
              examples:
                Updatelibrary200Example:
                  summary: Default updateLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/relationships/{resourceType}:
    post:
      operationId: addResourcesToLibrary
      summary: Add Resources to a Library
      description: Add data elements, extensions, or rules to a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              AddresourcestolibraryRequestExample:
                summary: Default addResourcesToLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '200':
          description: Resources added successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    patch:
      operationId: replaceResourcesInLibrary
      summary: Replace Resources in a Library
      description: Replace the existing set of resources in a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              ReplaceresourcesinlibraryRequestExample:
                summary: Default replaceResourcesInLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '200':
          description: Resources replaced successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    delete:
      operationId: removeResourcesFromLibrary
      summary: Remove Resources From a Library
      description: Remove data elements, extensions, or rules from a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              RemoveresourcesfromlibraryRequestExample:
                summary: Default removeResourcesFromLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '204':
          description: Resources removed successfully.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/relationships/environment:
    post:
      operationId: setEnvironmentForLibrary
      summary: Set Environment for a Library
      description: Assign a library to an environment for publishing.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipSingleRequest'
            examples:
              SetenvironmentforlibraryRequestExample:
                summary: Default setEnvironmentForLibrary request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: example_value
      responses:
        '200':
          description: Environment assigned successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/data_elements:
    get:
      operationId: listDataElementsForLibrary
      summary: List Data Elements for a Library
      description: Retrieve data elements associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of data elements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'
              examples:
                Listdataelementsforlibrary200Example:
                  summary: Default listDataElementsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/extensions:
    get:
      operationId: listExtensionsForLibrary
      summary: List Extensions for a Library
      description: Retrieve extensions associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'
              examples:
                Listextensionsforlibrary200Example:
                  summary: Default listExtensionsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/rules:
    get:
      operationId: listRulesForLibrary
      summary: List Rules for a Library
      description: Retrieve rules associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listrulesforlibrary200Example:
                  summary: Default listRulesForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/environment:
    get:
      operationId: getEnvironmentForLibrary
      summary: Get the Environment for a Library
      description: Retrieve the environment assigned to a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Getenvironmentforlibrary200Example:
                  summary: Default getEnvironmentForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /libraries/{libraryId}/property:
    get:
      operationId: getPropertyForLibrary
      summary: Get the Property for a Library
      description: Retrieve the property that owns the specified library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyforlibrary200Example:
                  summary: Default getPropertyForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
components:
  schemas:
    relationshipsLookupResponse:
      type: object
      properties:
        data:
          type: array
          description: Lists the relationships that you wish to add to the parent resource.
          items:
            $ref: '#/components/schemas/relationshipEntity'
        links:
          type: object
          properties: {}
          description: Contains links that can be used in subsequent fetch requests.
    relatedEnvironment:
      type: object
      properties:
        environment:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environment.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environment.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the environment.
                type:
                  type: string
                  description: The resource type for the environment (`environments`).
              description: Contains further information about the related environment.
          description: Contains information about the environment that this resource is active under.
    librariesRuleRelationshipsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/librariesRuleRelationshipsListResponse'
    librariesLookupEnvironmentResponse:
      allOf:
      - $ref: '#/components/schemas/environmentsLookupResponse'
    librariesExtensionRelationshipsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/librariesExtensionRelationshipsListResponse'
    librariesDataElementsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataElementsListResponse'
    librariesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/librariesAttributes'
    librariesUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/librariesLookupResponse'
    dataUpdateLibrary:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - id
          - type
          type: object
          properties:
            id:
              type: string
              description: The ID of library being updated.
            type:
              type: string
              description: Must be set to `libraries`.
            attributes:
              type: object
              properties: {}
              description: The modified attributes for the resource being updated.
            meta:
              type: object
              properties:
                action:
                  type: string
                  description: The library transition action. The available actions for a library depend on its current publishing state. See the API guide on [transitioning a library](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html#transition) for details on the available actions for each library state.
              description: To transition the library between states, the payload must include a `meta` object, containing a single `action` property whose value represents the specific transition action. The available actions for a library depend on its current publishing state. See the API guide on [transitioning a library](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html#transition) for details on the available actions for each library state.
[...]
