openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Rules API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://edge.adobedc.net
  description: Adobe Edge Network Non-Authenticated Server
- url: https://server.adobedc.net
  description: Adobe Edge Network Authenticated Server
tags:
- name: Rules
  description: Manage server-side event forwarding rules.
paths:
  /properties/{propertyId}/rules:
    get:
      operationId: listEventForwardingRules
      summary: List Event Forwarding Rules
      description: Retrieve all rules for an event forwarding property.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of event forwarding rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listeventforwardingrules200Example:
                  summary: Default listEventForwardingRules 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      attributes: {}
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingRule
      summary: Create an Event Forwarding Rule
      description: Create a new rule for server-side event processing.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleCreateRequest'
            examples:
              CreateeventforwardingruleRequestExample:
                summary: Default createEventForwardingRule request
                x-microcks-default: true
                value:
                  data:
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '201':
          description: Rule created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Createeventforwardingrule201Example:
                  summary: Default createEventForwardingRule 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}:
    get:
      operationId: getEventForwardingRule
      summary: Retrieve an Event Forwarding Rule
      description: Look up a specific event forwarding rule by its ID.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Geteventforwardingrule200Example:
                  summary: Default getEventForwardingRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateEventForwardingRule
      summary: Update an Event Forwarding Rule
      description: Modify an event forwarding rule's attributes.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleUpdateRequest'
            examples:
              UpdateeventforwardingruleRequestExample:
                summary: Default updateEventForwardingRule request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '200':
          description: Rule updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Updateeventforwardingrule200Example:
                  summary: Default updateEventForwardingRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEventForwardingRule
      summary: Delete an Event Forwarding Rule
      description: Remove an event forwarding rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '204':
          description: Rule deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/libraries:
    get:
      operationId: listLibrariesForRule
      summary: List Libraries for a Rule
      description: Retrieve libraries that use the specified rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'
              examples:
                Listlibrariesforrule200Example:
                  summary: Default listLibrariesForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/revisions:
    get:
      operationId: listRevisionsForRule
      summary: List Revisions for a Rule
      description: Retrieve the revision history for a rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: A list of rule revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listrevisionsforrule200Example:
                  summary: Default listRevisionsForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/origin:
    get:
      operationId: getOriginForRule
      summary: Get the Origin for a Rule
      description: Retrieve the previous revision of a rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Origin rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Getoriginforrule200Example:
                  summary: Default getOriginForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/property:
    get:
      operationId: getPropertyForRule
      summary: Get the Property for a Rule
      description: Retrieve the property that owns the specified rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyforrule200Example:
                  summary: Default getPropertyForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the property.
          example: Example Title
        platform:
          type: string
          enum:
          - web
          - mobile
          - edge
          description: The platform type (web, mobile, or edge).
          example: web
        domains:
          type: array
          items:
            type: string
          description: A list of domains associated with the property.
          example: []
        enabled:
          type: boolean
          description: Whether the property is enabled.
          example: true
        development:
          type: boolean
          description: Whether the property is in development mode.
          example: true
        privacy:
          type: string
          enum:
          - optin
          - optout
          description: The default privacy setting.
          example: optin
        ssl_enabled:
          type: boolean
          description: Whether SSL is enabled.
          example: true
        rule_component_sequencing_enabled:
          type: boolean
          description: Whether rule component sequencing is enabled.
          example: true
        undefined_vars_return_empty:
          type: boolean
          description: Whether undefined data element variables return empty strings.
          example: true
        token:
          type: string
          description: A unique token for the property.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string
          example: []
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    LibraryAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the library.
          example: Example Title
        state:
          type: string
          enum:
          - development
          - submitted
          - approved
          - rejected
          - published
          description: The current publishing state.
          example: development
        build_required:
          type: boolean
          description: Whether the library needs a new build.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    PropertyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - properties
          example: properties
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        relationships:
          type: object
          properties:
            company:
              $ref: '#/components/schemas/Relationship'
            callbacks:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            environments:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            hosts:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    RuleResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - rules
          example: rules
        attributes:
          type: object
          properties:
            name:
              type: string
            enabled:
              type: boolean
            published:
              type: boolean
            dirty:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          example: example_value
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            rule_components:
              $ref: '#/components/schemas/Relationship'
          example: example_value
    RuleUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - rules
            attributes:
              type: object
              properties:
                name:
                  type: string
                enabled:
                  type: boolean
          example: example_value
    RuleSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RuleResource'
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'
    RuleCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - rules
            attributes:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                enabled:
                  type: boolean
          example: example_value
    LibraryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LibraryResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    RuleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RuleResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    LibraryResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - libraries
          example: libraries
        attributes:
          $ref: '#/components/schemas/LibraryAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            environment:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
            builds:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ruleId:
      name: ruleId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a rule.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
