openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Extensions API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://reactor.adobe.io
  description: Adobe Reactor API production gateway
tags:
- name: Extensions
  description: Manage extensions installed in event forwarding properties.
paths:
  /properties/{propertyId}/extensions:
    get:
      operationId: listEventForwardingExtensions
      summary: List Event Forwarding Extensions
      description: Retrieve extensions installed in an event forwarding property.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'
              examples:
                Listeventforwardingextensions200Example:
                  summary: Default listEventForwardingExtensions 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      attributes:
                        name: Example Title
                        display_name: example_value
                        version: example_value
                        enabled: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: installExtension
      summary: Install an Extension
      description: Install a new extension from an extension package into a property. Requires a relationship to the source extension package.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionInstallRequest'
            examples:
              InstallextensionRequestExample:
                summary: Default installExtension request
                x-microcks-default: true
                value:
                  data:
                    type: extensions
                    attributes:
                      delegate_descriptor_id: '500123'
                      settings: example_value
                      enabled: true
                    relationships:
                      extension_package:
                        data: {}
      responses:
        '201':
          description: Extension installed successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Installextension201Example:
                  summary: Default installExtension 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}:
    get:
      operationId: getExtension
      summary: Retrieve an Extension
      description: Look up a specific installed extension by its ID. Deleted extensions remain retrievable and are identified by a deleted_at attribute.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Getextension200Example:
                  summary: Default getExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: reviseExtension
      summary: Revise an Extension
      description: Create a new revision of an installed extension by updating its settings. Requires meta.action set to revise.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionReviseRequest'
            examples:
              ReviseextensionRequestExample:
                summary: Default reviseExtension request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: extensions
                    attributes:
                      delegate_descriptor_id: '500123'
                      settings: example_value
                      enabled: true
                    meta:
                      action: revise
      responses:
        '200':
          description: Extension revised successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Reviseextension200Example:
                  summary: Default reviseExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteExtension
      summary: Delete an Extension
      description: Remove an installed extension. Returns HTTP 204 on success.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '204':
          description: Extension deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/extension_package:
    get:
      operationId: getExtensionPackageForExtension
      summary: Get the Extension Package for an Extension
      description: Retrieve the base extension package of an installed extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Extension package details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'
              examples:
                Getextensionpackageforextension200Example:
                  summary: Default getExtensionPackageForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extension_packages
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/revisions:
    get:
      operationId: listRevisionsForExtension
      summary: List Revisions for an Extension
      description: Retrieve the version history for an installed extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: A list of extension revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse_2'
              examples:
                Listrevisionsforextension200Example:
                  summary: Default listRevisionsForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/libraries:
    get:
      operationId: listLibrariesForExtension
      summary: List Libraries for an Extension
      description: Retrieve libraries that include the specified extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'
              examples:
                Listlibrariesforextension200Example:
                  summary: Default listLibrariesForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/origin:
    get:
      operationId: getOriginForExtension
      summary: Get the Origin for an Extension
      description: Retrieve the previous revision of an extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Origin extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Getoriginforextension200Example:
                  summary: Default getOriginForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/property:
    get:
      operationId: getPropertyForExtension
      summary: Get the Property for an Extension
      description: Retrieve the property that owns the specified extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyforextension200Example:
                  summary: Default getPropertyForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      attributes:
                        name: Example Title
                        platform: example_value
                        enabled: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ExtensionPackageSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionPackageResource'
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    ExtensionListResponse_2:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    ExtensionAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension.
          example: Example Title
        display_name:
          type: string
          description: The human-readable display name.
          example: example_value
        version:
          type: string
          description: The version of the installed extension.
          example: example_value
        delegate_descriptor_id:
          type: string
          description: The descriptor ID for the extension configuration.
          example: '500123'
        settings:
          type: string
          description: A JSON-encoded string of configuration settings.
          example: example_value
        enabled:
          type: boolean
          description: Whether the extension is enabled.
          example: true
        published:
          type: boolean
          example: true
        dirty:
          type: boolean
          example: true
        revision_number:
          type: integer
          example: 10
        deleted_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ExtensionResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - extensions
          example: extensions
        attributes:
          $ref: '#/components/schemas/ExtensionAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension_package:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    ExtensionSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionResource'
    ExtensionPackageResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - extension_packages
          example: extension_packages
        attributes:
          $ref: '#/components/schemas/ExtensionPackageAttributes'
        relationships:
          type: object
          properties:
            versions:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PropertySingleResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - properties
            attributes:
              type: object
              properties:
                name:
                  type: string
                platform:
                  type: string
                enabled:
                  type: boolean
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
          example: example_value
    ExtensionPackageAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension package.
          example: Example Title
        display_name:
          type: string
          description: The human-readable display name.
          example: example_value
        description:
          type: string
          description: A description of the extension package capabilities.
          example: A sample description.
        version:
          type: string
          description: The current version using semantic versioning.
          example: example_value
        platform:
          type: string
          enum:
          - web
          - mobile
          - edge
          description: The platform the extension supports.
          example: web
        author:
          type: object
          properties:
            name:
              type: string
            url:
              type: string
              format: uri
            email:
              type: string
              format: email
          description: Information about the extension package author.
          example: example_value
        availability:
          type: string
          enum:
          - development
          - private
          - public
          description: The availability level of the extension package.
          example: development
        discontinued:
          type: boolean
          description: Whether the extension package has been discontinued.
          example: true
        status:
          type: string
          description: The current processing status.
          example: example_value
        exchange_url:
          type: string
          format: uri
          description: The URL on Adobe Exchange for public extensions.
          example: https://www.example.com
        icon_path:
          type: string
          description: Path to the extension icon within the package.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ExtensionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - extensions
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  display_name:
                    type: string
                  version:
                    type: string
                  enabled:
                    type: boolean
          example: []
    ExtensionReviseRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - extensions
            attributes:
              type: object
              properties:
                delegate_descriptor_id:
                  type: string
                settings:
                  type: string
                enabled:
                  type: boolean
            meta:
              type: object
              required:
              - action
              properties:
                action:
                  type: string
                  enum:
                  - revise
          example: example_value
    LibraryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - libraries
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
          example: []
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
    ExtensionInstallRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - relationships
          properties:
            type:
              type: string
              enum:
              - extensions
            attributes:
              type: object
              properties:
                delegate_descriptor_id:
                  type: string
                settings:
                  type: string
                enabled:
                  type: boolean
            relationships:
              type: object
              required:
              - extension_package
              properties:
                extension_package:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - id
                      - type
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - extension_packages
          example: example_value
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    extensionId:
      name: extensionId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for an installed extension.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
