openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Hosts API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://reactor.adobe.io
  description: Adobe Reactor API production gateway
tags:
- name: Hosts
  description: Manage hosting destinations for tag library delivery.
paths:
  /properties/{propertyId}/hosts:
    get:
      operationId: listHostsForProperty
      summary: List Hosts for a Property
      description: Retrieve all hosts belonging to a property.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of hosts.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostListResponse'
              examples:
                Listhostsforproperty200Example:
                  summary: Default listHostsForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: hosts
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createHost
      summary: Create a Host
      description: Create a new host under the specified property.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/HostCreateRequest'
            examples:
              CreatehostRequestExample:
                summary: Default createHost request
                x-microcks-default: true
                value:
                  data:
                    type: hosts
                    attributes:
                      name: Example Title
                      type_of: akamai
                      server: example_value
                      port: 10
                      path: example_value
                      username: example_value
                      encrypted_private_key: example_value
                      skip_symlinks: true
      responses:
        '201':
          description: Host created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'
              examples:
                Createhost201Example:
                  summary: Default createHost 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /hosts/{hostId}:
    get:
      operationId: getHost
      summary: Retrieve a Host
      description: Look up a specific host by its ID.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/hostId'
      responses:
        '200':
          description: Host details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'
              examples:
                Gethost200Example:
                  summary: Default getHost 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateHost
      summary: Update a Host
      description: Modify a host's attributes. Only SFTP hosts can be updated.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/hostId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/HostUpdateRequest'
            examples:
              UpdatehostRequestExample:
                summary: Default updateHost request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: hosts
                    attributes:
                      name: Example Title
                      server: example_value
                      port: 10
                      path: example_value
                      username: example_value
                      encrypted_private_key: example_value
                      skip_symlinks: true
      responses:
        '200':
          description: Host updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'
              examples:
                Updatehost200Example:
                  summary: Default updateHost 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteHost
      summary: Delete a Host
      description: Remove a host. Returns HTTP 204 on success.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/hostId'
      responses:
        '204':
          description: Host deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    HostUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - hosts
            attributes:
              type: object
              properties:
                name:
                  type: string
                server:
                  type: string
                port:
                  type: integer
                path:
                  type: string
                username:
                  type: string
                encrypted_private_key:
                  type: string
                skip_symlinks:
                  type: boolean
          example: example_value
    HostSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/HostResource'
    HostResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - hosts
          example: hosts
        attributes:
          $ref: '#/components/schemas/HostAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    HostCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - hosts
            attributes:
              type: object
              required:
              - name
              - type_of
              properties:
                name:
                  type: string
                type_of:
                  type: string
                  enum:
                  - akamai
                  - sftp
                server:
                  type: string
                port:
                  type: integer
                path:
                  type: string
                username:
                  type: string
                encrypted_private_key:
                  type: string
                skip_symlinks:
                  type: boolean
          example: example_value
    HostAttributes:
      type: object
      properties:
        name:
          type: string
          description: The human-readable name of the host.
          example: Example Title
        type_of:
          type: string
          enum:
          - akamai
          - sftp
          description: The hosting type.
          example: akamai
        server:
          type: string
          description: The host URL for SFTP hosts.
          example: example_value
        port:
          type: integer
          description: The server port for SFTP hosts.
          example: 10
        path:
          type: string
          description: The URL path suffix for SFTP hosts.
          example: example_value
        username:
          type: string
          description: The authentication username for SFTP hosts.
          example: example_value
        encrypted_private_key:
          type: string
          description: The encrypted private key for SFTP hosts.
          example: example_value
        skip_symlinks:
          type: boolean
          description: Whether to use file copying instead of symbolic links for SFTP hosts.
          example: true
        status:
          type: string
          description: The current status of the host.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    HostListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HostResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    hostId:
      name: hostId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a host.
    filterName:
      name: filter[name]
      in: query
      schema:
        type: string
      description: Filter by name.
    pageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Number of results per page.
    pageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
      description: Page number for pagination.
    filterUpdatedAt:
      name: filter[updated_at]
      in: query
      schema:
        type: string
      description: Filter by last updated date.
    filterCreatedAt:
      name: filter[created_at]
      in: query
      schema:
        type: string
      description: Filter by creation date.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
