openapi: 3.2.0
info:
  title: Adobe Launch Rules API
  version: '1.0'
  description: 'Operations tagged Rules across 3 of this provider''s published API definitions: adobe-launch-reactor-api-published-openapi.yml, event-forwarding-api.yml, reactor-api.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: //reactor.adobe.io
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server
tags:
- name: Rules
  description: Rules control the behavior of the resources contained in a deployed library. A rule is a group of one or more rule components, and exists to tie the rule components together in a logical way.
paths:
  /properties/{PROPERTY_ID}/rules:
    get:
      tags:
      - Rules
      summary: List a property's rules
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: listRules
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property whose rules you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: dirty
        in: query
        description: Filter by `dirty` (whether the resource contains changes that haven't been pushed to a library).
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of rules belonging to the specified property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesListResponse'
    post:
      tags:
      - Rules
      summary: Create a rule
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: createRule
      parameters:
      - name: PROPERTY_ID
        in: path
        description: The ID of the property that you want to create a rule for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/rulesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}:
    get:
      tags:
      - Rules
      summary: Retrieve a rule
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: retrieveRule
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesLookupResponse'
    delete:
      tags:
      - Rules
      summary: Delete a rule
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: deleteRule
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Rules
      summary: Update a rule
      description: 'When updating a rule, you have the option of creating a new revision of the rule which is assigned its own ID. The original rule may be discovered via the origin link. Revising a rule is achieved by supplying a `meta` attribute containing an `action` property with the value `revise`. Excluding this property will update the current revision of the rule without creating a new one.


        When updating or revising a rule, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.


        >**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: updateRule
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/rulesUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the new revision for the rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/rule_components:
    get:
      tags:
      - Rules
      summary: List a rule's components
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: listRuleComponents
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose rule components you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: dirty
        in: query
        description: Filter by `dirty` (whether the resource contains changes that haven't been pushed to a library).
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: negate
        in: query
        description: Filter by `negate` (whether the rule component represents a negation).
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of rule components attached to the rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsListResponse'
    post:
      tags:
      - Rules
      summary: Create a new rule component
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: createRuleComponent
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule that you want to create a rule component for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ruleComponentsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/libraries:
    get:
      tags:
      - Rules
      summary: List all libraries that use a specific rule
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: listRuleLibraries
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose related libraries you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of libraries related to the specified rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesLibrariesListResponse'
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/property:
    get:
      tags:
      - Rules
      summary: Retrieve the property that owns a specific rule
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: retrieveRuleProperty
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose property you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the specified rule's property.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesPropertyLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/origin:
    get:
      tags:
      - Rules
      summary: Retrieve a rule's related origin
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: retrieveRuleOrigin
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose origin you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the specified rule's origin.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesOriginLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/revisions:
    get:
      tags:
      - Rules
      summary: List a rule's revisions
      description: '>**NOTE**: For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: listRuleRevisions
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose revisions you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of revisions for the specified rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesRevisionsListResponse'
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/rule_component_notes:
    get:
      tags:
      - Rules
      summary: List the notes for a rule's components
      description: '>**NOTE**: Notes attached directly to the rule itself are not included in results for this endpoint. > >For more information on using this operation, see the rules endpoint guide on Experience League.'
      operationId: listRulesComponentsNotes
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose rule component notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of notes attached to the rule components of the specified rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesRuleComponentsListResponse'
    servers:
    - url: //reactor.adobe.io
  /rules/{RULE_ID}/notes:
    get:
      tags:
      - Rules
      summary: List a rule's notes
      description: '>**NOTE**: For more information on using this operation, see the notes endpoint guide on Experience League.'
      operationId: listRuleNotes
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of notes attached the rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesNotesListResponse'
    post:
      tags:
      - Rules
      summary: Create a note for a rule
      description: '>**NOTE**: For more information on using this operation, see the notes endpoint guide on Experience League.'
      operationId: createNoteRule
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule that you want to create a note for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/rulesNotesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created note.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rulesNotesCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /properties/{propertyId}/rules:
    get:
      operationId: listEventForwardingRules
      summary: List Event Forwarding Rules
      description: Retrieve all rules for an event forwarding property.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of event forwarding rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listeventforwardingrules200Example:
                  summary: Default listEventForwardingRules 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      attributes: {}
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    post:
      operationId: createEventForwardingRule
      summary: Create an Event Forwarding Rule
      description: Create a new rule for server-side event processing.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleCreateRequest'
            examples:
              CreateeventforwardingruleRequestExample:
                summary: Default createEventForwardingRule request
                x-microcks-default: true
                value:
                  data:
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '201':
          description: Rule created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Createeventforwardingrule201Example:
                  summary: Default createEventForwardingRule 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rules/{ruleId}:
    get:
      operationId: getEventForwardingRule
      summary: Retrieve an Event Forwarding Rule
      description: Look up a specific event forwarding rule by its ID.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Geteventforwardingrule200Example:
                  summary: Default getEventForwardingRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    patch:
      operationId: updateEventForwardingRule
      summary: Update an Event Forwarding Rule
      description: Modify an event forwarding rule's attributes.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleUpdateRequest'
            examples:
              UpdateeventforwardingruleRequestExample:
                summary: Default updateEventForwardingRule request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '200':
          description: Rule updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Updateeventforwardingrule200Example:
                  summary: Default updateEventForwardingRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    delete:
      operationId: deleteEventForwardingRule
      summary: Delete an Event Forwarding Rule
      description: Remove an event forwarding rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '204':
          description: Rule deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rules/{ruleId}/libraries:
    get:
      operationId: listLibrariesForRule
      summary: List Libraries for a Rule
      description: Retrieve libraries that use the specified rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'
              examples:
                Listlibrariesforrule200Example:
                  summary: Default listLibrariesForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rules/{ruleId}/revisions:
    get:
      operationId: listRevisionsForRule
      summary: List Revisions for a Rule
      description: Retrieve the revision history for a rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: A list of rule revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listrevisionsforrule200Example:
                  summary: Default listRevisionsForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rules/{ruleId}/origin:
    get:
      operationId: getOriginForRule
      summary: Get the Origin for a Rule
      description: Retrieve the previous revision of a rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Origin rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Getoriginforrule200Example:
                  summary: Default getOriginForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rules/{ruleId}/property:
    get:
      operationId: getPropertyForRule
      summary: Get the Property for a Rule
      description: Retrieve the property that owns the specified rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyforrule200Example:
                  summary: Default getPropertyForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
components:
  schemas:
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    relatedEnvironments:
      type: object
      properties:
        environments:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environments for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environments for the resource.
          description: Contains a link to the related environments for the resource.
    relatedRevisions:
      type: object
      properties:
        revisions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related revisions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related revisions for the resource.
          description: Contains a link to the related revisions for the resource.
    rulesNotesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/notesLookupResponse'
    notesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/notesAttributes'
    notesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              author_display_name:
                type: string
                description: The display name for the note's author.
              author_email:
                type: string
                description: The email address for the note's author.
              created_at:
                type: string
                description: A timestamp of when the note was created in the system.
              text:
                type: string
                description: The contents of the note.
            description: Contains the note's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this note.
            allOf:
            - $ref: '#/components/schemas/relatedResource'
          links:
            type: object
            properties:
              resource:
                type: string
                description: A link to the resource that the note is attached to.
              self:
                type: string
                description: A link to the note itself.
            description: Contains links related to the note which can be used in subsequent fetch requests.
    rulesLibrariesListResponse:
      allOf:
      - $ref: '#/components/schemas/librariesListResponse'
    ruleComponentsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsLookupResponse'
    rulesPropertyLookupResponse:
      allOf:
      - $ref: '#/components/schemas/propertiesLookupResponse'
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    relatedCallbacks:
      type: object
      properties:
        callbacks:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related callbacks for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related callbacks for the resource.
          description: Contains a link to the related callbacks for the resource.
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    rulesNotesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/notesCreatePayload'
    rulesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/rulesEntity'
    notesAttributes:
      required:
      - text
      type: object
      properties:
        text:
          type: string
          description: The contents of the note.
    ruleComponentsAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the rule component.
        delegate_descriptor_id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the rule component.
        delay_next:
          type: boolean
          description: Indicates whether the next rule component should be delayed while the current rule component is processing.
        extension_id:
          type: string
          description: The ID of the extension that provides the rule component's type.
        negate:
          type: boolean
          description: Indicates whether this rule component represents a negation (i.e. the component checks if a condition is NOT true in order to pass).
        order:
          type: integer
          description: The order position for the rule component. This is typically used for action-type rule components to determine the sequence that the actions should be executed in when the rule triggers.
        rule_order:
          type: number
          description: The order position for the parent rule. This determines the order or priority in which multiple rules are triggered for the same event for a property.
        settings:
          type: string
          description: A settings JSON object represented as a string.
        timeout:
          type: integer
          description: If the rule component is time sensitive, this value represents the timeout value.
    rulesRevisionsListResponse:
      allOf:
      - $ref: '#/components/schemas/rulesListResponse'
    ruleComponentsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    rulesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/rulesCreateAttributes'
    relatedOrigin:
      type: object
      properties:
        origin:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related origin.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related origin.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the origin.
                type:
                  type: string
                  description: The resource type for the origin.
              description: Contains further information about the related origin.
          description: Contains information about the resource's origin. The origin is the previous resource that was revised to make this resource.
    rulesAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the rule.
        enabled:
          type: boolean
          description: Indicates whether this rule will be enabled upon creation.
    relatedCompany:
      type: object
      properties:
        company:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related company.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related company.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the company.
                type:
                  type: string
                  description: The resource type for the company (`companies`).
              description: Contains further information about the related company.
          description: Contains information about the company that owns the resource.
    dataCreateWithRelationships:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            relationships:
              type: object
              description: The relationships for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes, relationships, and type for the resource being created.
    rulesRuleComponentsListResponse:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsListResponse'
    relatedExtension:
      type: object
      properties:
        extension:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that provides the resource.
    notesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    ruleComponentsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the rule component was created in the system.
              delegate_descriptor_id:
                type: string
                description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html)  for the rule component.
              deleted_at:
                type: string
                description: A timestamp of when the rule component was deleted from the system. Returns `null` if the rule component still exists.
              dirty:
                type: boolean
                description: Indicates whether changes have been made to the rule component that have not been pushed to a library.
              name:
                type: string
                description: The name of the rule component.
              negate:
                type: boolean
                description: Indicates whether this rule component represents a negation (i.e. the component checks if a condition is NOT true in order to pass).
              order:
                type: integer
                description: The order position for the rule component. This is typically used for action-type rule components to determine the sequence that the actions should be executed in when the rule triggers.
              rule_order:
                type: number
                description: The order position for the parent rule. This determines the order or priority in which multiple rules are triggered for the same event for a property.
              timeout:
                type: integer
                description: How long in milliseconds the system will allow this rule component to process before terminating it.
              delay_next:
                type: boolean
                description: Indicates whether the next rule component should be delayed while the current rule component is processing.
              published:
                type: boolean
                description: Indicates whether this rule component has been published.
              published_at:
                type: string
                description: A timestamp of when the rule component was published. Returns `null` if `published` is set to `false`.
              revision_number:
                type: integer
                description: The revision number for the rule component.
              updated_at:
                type: string
                description: A timestamp of when the rule component was last updated.
              settings:
                type: string
                description: A settings JSON object represented as a string.
            description: Contains the rule component's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this rule component.
            allOf:
            - $ref: '#/components/schemas/relatedUpdatedWithExtensionPackage'
            - $ref: '#/components/schemas/relatedUpdatedWithExtension'
            - $ref: '#/components/schemas/relatedExtension'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedOrigin'
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedRules'
          links:
            type: object
            properties:
              extension:
                type: string
                description: A link to the extension that provides the rule component's type.
              origin:
                type: string
                description: A link to the rule component's origin.
              rules:
                type: string
                description: A link to the rules that utilized the rule component.
              self:
                type: string
                description: A link to the rule component itself.
            description: Contains links related to the rule component which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              latest_revision_number:
                type: string
                description: The latest revision number for the rule component.
            description: Contains meta information about the rule component.
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    ruleComponentsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/ruleComponentsEntity'
    relatedUpdatedWithExtensionPackage:
      type: object
      properties:
        updated_with_extension_package:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that updated the resource, if applicable.
    relatedUpdatedWithExtension:
      type: object
      properties:
        updated_with_extension:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that updated the resource, if applicable.
    relatedHosts:
      type: object
      properties:
        hosts:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related hosts for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related hosts for the resource.
          description: Contains a link to the related hosts for the resource.
    ruleComponentsCreateAttributes:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsAttributes'
    rulesUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/rulesLookupResponse'
    rulesNotesListResponse:
      allOf:
      - $ref: '#/components/schemas/notesListResponse'
    rulesOriginLookupResponse:
      allOf:
      - $ref: '#/components/schemas/rulesLookupResponse'
    librariesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    rulesCreateAttributes:
      allOf:
      - $ref: '#/components/schemas/rulesAttributes'
    dataCreate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being created.
    rulesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the rule was created in the system.
              deleted_at:
                type: string
                description: A timestamp of when the rule was deleted from the system. Returns `null` if the rule still exists.
              dirty:
                type: boolean
                description: Indicates whether changes have been made to the rule that have not been pushed to a library.
              enabled:
                type: boolean
                description: Indicates whether this rule is enabled.
              name:
                type: string
                description: The name of the rule.
              published:
                type: boolean
                description: Indicates whether this rule has been published.
              published_at:
                type: string
                description: A timestamp of when the rule was published. Returns `null` if `published` is set to `false`.
              revision_number:
                type: integer
                description: The revision number for the rule.
              updated_at:
                type: string
                description: A timestamp of when the rule was last updated.
              review_status:
                type: string
                description: The current review status for the rule.
            description: Contains the rule's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this rule.
            allOf:
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedRevisions'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedOrigin'
            - $ref: '#/components/schemas/relatedRuleComponents'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the rule.
              origin:
                type: string
                description: A link to the rule's origin.
              self:
                type: string
                description: A link to the rule itself.
              rule_components:
                type: string
                description: A link to the rule's associated rule components.
            description: Contains links related to the rule which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              latest_revision_number:
                type: string
                description: The latest revision number for the rule.
            description: Contains meta information about the rule.
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    rulesUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataUpdateWithMeta'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/rulesAttributes'
    propertiesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/propertiesEntity'
    ruleComponentsRelationships:
      required:
      - extension
      type: object
      properties:
        extension:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains basic information about the extension.
          description: Describes the extension that provides the rule component's type.
        rules:
          required:
          - data
          type: object
          properties:
            data:
              type: array
              description: Lists the basic information about the related rules.
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the extension.
                  type:
                    type: string
                    description: The resource type for the extension (`extensions`).
          description: Describes the rules that utilize the rule component.
    notesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/notesEntity'
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    propertiesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the property was created in the system.
              enabled:
                type: boolean
                description: Indicates whether this property is enabled.
              name:
                type: string
                description: The name of the property.
              updated_at:
                type: string
                description: A timestamp of when the property was last updated.
              platform:
                type: string
                description: The platform for the property, either `web` or `mobile`.
              development:
                type: boolean
                description: Indicates whether this property is in development.
              token:
                type: string
                description: 'A unique token for the property.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the property within the library''s folder structure. This also prevent''s the property''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
              domains:
                type: array
                description: A list of domains associated with the property.
                items:
                  type: string
              undefined_vars_return_empty:
                type: boolean
                description: Indicates whether missing data elements return an empty string on this property.
              rule_component_sequencing_enabled:
                type: boolean
                description: Indicates whether rule component sequencing is enabled on this property.
            description: Contains the property's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this property.
            allOf:
            - $ref: '#/components/schemas/relatedCompany'
            - $ref: '#/components/schemas/relatedCallbacks'
            - $ref: '#/components/schemas/relatedHosts'
            - $ref: '#/components/schemas/relatedEnvironments'
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedDataElements'
            - $ref: '#/components/schemas/relatedExtensions'
            - $ref: '#/components/schemas/relatedRules'
            - $ref: '#/components/schemas/relatedNotes'
          links:
            type: object
            properties:
              company:
                type: string
                description: A link to the company that owns the property.
              data_elements:
                type: string
                description: A link to the data elements employed by the property.
              environments:
                type: string
                description: A link to the environments employed by the property.
              extensions:
                type: string
                description: A link to the extensions employed by the property.
              rules:
                type: string
                description: A link to the rules employed by the property.
              self:
                type: string
                description: A link to the property itself.
            description: Contains links related to the property which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              rights:
                type: array
                description: Lists the rights that are enabled for the property.
                items:
                  type: string
            description: Contains meta information about the property.
    relatedNotes:
      type: object
      properties:
        notes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related notes for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related notes for the resource.
          description: Contains a link to the related notes for the resource.
    ruleComponentsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - attributes
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/ruleComponentsCreateAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/ruleComponentsRelationships'
    rulesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/rulesLookupResponse'
    rulesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    relatedRuleComponents:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rule components for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rule components for the resource.
          description: Contains a link to the related rule components for the resource.
    relatedResource:
      type: object
      properties:
        resource:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the resource.
                type:
                  type: string
                  description: The resource type.
              description: Contains further information about the related resource.
          description: Contains a link to the resource that that the note is attached to.
    relatedExtensions:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extensions for the resource.
          description: Contains a link to the related extensions for the resource.
    dataUpdateWithMeta:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - id
          - meta
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The modified attributes for the resource being updated.
            meta:
              type: object
              properties:
                action:
                  type: string
                  description: If this property is included with a value of `revise`, the call creates a new revision for the resource instead of overwriting the current revision.
              description: If this property is included with an `action` property set to `revise`, the call creates a new revision for the resource instead of overwriting the current revision.
            id:
              type: string
              description: The ID of resource being updated.
            type:
              type: string
              description: The type of resource being updated.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being updated.
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    RuleResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - rules
          example: rules
        attributes:
          type: object
          properties:
            name:
              type: string
            enabled:
              type: boolean
            published:
              type: boolean
            dirty:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          example: example_value
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            rule_components:
              $ref: '#/components/schemas/Relationship'
          example: example_value
    RuleUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - rules
            attributes:
              type: object
              properties:
                name:
                  type: string
                enabled:
                  type: boolean
          example: example_value
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string
          example: []
    RuleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RuleResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    RuleSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RuleResource'
    RuleCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - rules
            attributes:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                enabled:
                  type: boolean
          example: example_value
    RuleUpdateRequest_2:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - rules
            attributes:
              type: object
              properties:
                name:
                  type: string
                enabled:
                  type: boolean
          example: example_value
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the property.
          example: Example Title
        platform:
          type: string
          enum:
          - web
          - mobile
          - edge
          description: The platform type (web, mobile, or edge).
          example: web
        domains:
          type: array
          items:
            type: string
          description: A list of domains associated with the property.
          example: []
        enabled:
          type: boolean
          description: Whether the property is enabled.
          example: true
        development:
          type: boolean
          description: Whether the property is in development mode.
          example: true
        privacy:
          type: string
          enum:
          - optin
          - optout
          description: The default privacy setting.
          example: optin
        ssl_enabled:
          type: boolean
          description: Whether SSL is enabled.
          example: true
        rule_component_sequencing_enabled:
          type: boolean
          description: Whether rule component sequencing is enabled.
          example: true
        undefined_vars_return_empty:
          type: boolean
          description: Whether undefined data element variables return empty strings.
          example: true
        token:
          type: string
          description: A unique token for the property.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'
    LibraryAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the library.
          example: Example Title
        state:
          type: string
          enum:
          - development
          - submitted
          - approved
          - rejected
          - published
          description: The current publishing state.
          example: development
        build_required:
          type: boolean
          description: Whether the library needs a new build.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    RuleResource_2:
      type: object
      properties:
        id:
          type: string
[...]
