openapi: 3.2.0
info:
  title: Adobe Launch Builds API
  version: '1.0'
  description: 'Operations tagged Builds across 2 of this provider''s published API definitions: adobe-launch-reactor-api-published-openapi.yml, reactor-api.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: //reactor.adobe.io
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server
tags:
- name: Builds
  description: A tag library is compiled into a build in order for it to be assigned to an environment for testing and deployment. The contents of a build varies depending on the resources included in the library, the configuration of the environment to which the build is assigned, and the platform of the property that the build belongs to.
paths:
  /libraries/{LIBRARY_ID}/builds:
    get:
      tags:
      - Builds
      summary: List a library's builds
      description: '>**NOTE**: For more information on using this operation, see the builds endpoint guide on Experience League.'
      operationId: listLibraryBuilds
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library whose builds you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: status
        in: query
        description: Filter by `status`.
        schema:
          type: string
      - name: token
        in: query
        description: Filter by `token`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of builds belonging to the specified library.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/buildsListResponse'
    post:
      tags:
      - Builds
      summary: Create a build
      description: 'This POST request does not accept a payload, as the build parameters are determined by the parent library.


        >**NOTE**: For more information on using this operation, see the builds endpoint guide on Experience League.'
      operationId: createBuild
      parameters:
      - name: LIBRARY_ID
        in: path
        description: The ID of the library that you want to create a build for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created build.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/buildsCreateResponse'
    servers:
    - url: //reactor.adobe.io
  /builds/{BUILD_ID}:
    get:
      operationId: getBuild
      tags:
      - Builds
      summary: Look up a build by ID
      description: '>**NOTE**: For more information on using this operation, see the builds endpoint guide on Experience League.'
      parameters:
      - name: BUILD_ID
        in: path
        description: The ID of the build you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the build.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/buildsLookupResponse'
    patch:
      tags:
      - Builds
      summary: Republish a build
      description: 'When republishing a build, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.


        >**NOTE**: For more information on using this operation, see the builds endpoint guide on Experience League.'
      operationId: republishBuild
      parameters:
      - name: BUILD_ID
        in: path
        description: The ID of the build you want to republish.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/buildsUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the build.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/buildsUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /libraries/{libraryId}/builds:
    get:
      operationId: listBuildsForLibrary
      summary: List Builds for a Library
      description: Retrieve all builds for a specific library.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of builds.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildListResponse'
              examples:
                Listbuildsforlibrary200Example:
                  summary: Default listBuildsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: builds
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    post:
      operationId: createBuild
      summary: Create a Build
      description: Compile a library into a build for deployment.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '201':
          description: Build created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildSingleResponse'
              examples:
                Createbuild201Example:
                  summary: Default createBuild 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: builds
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /builds/{buildId}:
    get:
      operationId: getBuild
      summary: Retrieve a Build
      description: Look up a specific build by its ID.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Build details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildSingleResponse'
              examples:
                Getbuild200Example:
                  summary: Default getBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: builds
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    patch:
      operationId: republishBuild
      summary: Republish a Build
      description: Republish an existing build.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Build republished successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildSingleResponse'
              examples:
                Republishbuild200Example:
                  summary: Default republishBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: builds
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /builds/{buildId}/environment:
    get:
      operationId: getEnvironmentForBuild
      summary: Get the Environment for a Build
      description: Retrieve the deployment environment for a build.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Getenvironmentforbuild200Example:
                  summary: Default getEnvironmentForBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /builds/{buildId}/library:
    get:
      operationId: getLibraryForBuild
      summary: Get the Library for a Build
      description: Retrieve the library from which a build was compiled.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Library details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Getlibraryforbuild200Example:
                  summary: Default getLibraryForBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
components:
  schemas:
    buildsUpdatePayload:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - id
          - meta
          - type
          type: object
          properties:
            id:
              type: string
              description: The ID of the build being republished.
            type:
              type: string
              description: Must be set to `builds`.
            meta:
              type: object
              properties:
                action:
                  type: string
                  description: If this property is included with a value of `republish`, the call republishes the build.
              description: If this property is included with an `action` property set to `republish`, the call republishes the build.
          description: Contains the attributes and type for the build being republished.
      example:
        data:
          id: BLb408c04c20ba4a82b6df496969a99781
          type: builds
          meta:
            action: republish
    buildsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/buildsLookupResponse'
    relatedLibrary:
      type: object
      properties:
        library:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the library.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the library.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the library.
                type:
                  type: string
                  description: The resource type for the library (`libraries`).
              description: Contains further information about the library.
          description: Contains a link to the library that is assigned to this environment.
    relatedEnvironment:
      type: object
      properties:
        environment:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related environment.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related environment.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the environment.
                type:
                  type: string
                  description: The resource type for the environment (`environments`).
              description: Contains further information about the related environment.
          description: Contains information about the environment that this resource is active under.
    buildsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/buildsEntity'
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    buildsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the build was created in the system.
              status:
                type: string
                description: The current status of the build.
              updated_at:
                type: string
                description: A timestamp of when the build was last updated.
              token:
                type: string
                description: 'A unique token for the build.


                  When a build is pushed to an Adobe-managed host (`akamai`), this token is used to identify the build within the library''s folder structure. This also prevent''s the build''s `id` value from being unnecessarily exposed. This also applies to `sftp` hosts so that libraries are constructed in the same manner.'
            description: Contains the build's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this build.
            allOf:
            - $ref: '#/components/schemas/relatedDataElements'
            - $ref: '#/components/schemas/relatedExtensions'
            - $ref: '#/components/schemas/relatedRules'
            - $ref: '#/components/schemas/relatedEnvironment'
            - $ref: '#/components/schemas/relatedLibrary'
            - $ref: '#/components/schemas/relatedProperty'
          links:
            type: object
            properties:
              environment:
                type: string
                description: A link to the environment that the build is assigned to.
              library:
                type: string
                description: A link to the library that the build is based on.
              self:
                type: string
                description: A link to the build itself.
            description: Contains links related to the build which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              artifact_url:
                type: string
                description: The artifact URL for the build. This is the URL that  you embed on your webpage in order to install the build. When  embedded, this URL acts as a symlink to the `direct_artifact_url`  for the currently installed build. When you create a new build  for an environment, the symlink updates to point to the new `direct_artifact_url`  and stores the old one on the server. When republishing a build,  the symlink updates to point to the previous `direct_artifact_url`.  This allows you to easily change builds without needing to edit  client-side code.
              direct_artifact_url:
                type: string
                description: The direct artifact URL for the build.
              archive:
                type: boolean
                description: Indicates whether the build is archived.
              host_type_of:
                type: string
                description: The host type for the environment that the build is  assigned to, either `akamai` for Adobe-managed hosting or `sftp`  for self hosting.
            description: Contains meta information about the build.
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    relatedDataElements:
      type: object
      properties:
        data_elements:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related data elements for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related data elements for the resource.
          description: Contains a link to the related data elements for the resource.
    relatedExtensions:
      type: object
      properties:
        extensions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extensions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extensions for the resource.
          description: Contains a link to the related extensions for the resource.
    buildsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    buildsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/buildsLookupResponse'
    EnvironmentAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the environment.
          example: Example Title
        stage:
          type: string
          enum:
          - development
          - staging
          - production
          description: The environment stage.
          example: development
        archive:
          type: boolean
          description: Whether the build is delivered as a ZIP archive.
          example: true
        path:
          type: string
          description: The URL path appended to the host domain for deployment.
          example: example_value
        library_name:
          type: string
          description: The custom library filename.
          example: example_value
        library_path:
          type: string
          description: The custom library path.
          example: example_value
        token:
          type: string
          description: A unique token for the environment.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    LibraryAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the library.
          example: Example Title
        state:
          type: string
          enum:
          - development
          - submitted
          - approved
          - rejected
          - published
          description: The current publishing state.
          example: development
        build_required:
          type: boolean
          description: Whether the library needs a new build.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    EnvironmentResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - environments
          example: environments
        attributes:
          $ref: '#/components/schemas/EnvironmentAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            host:
              $ref: '#/components/schemas/Relationship'
            library:
              $ref: '#/components/schemas/Relationship'
            builds:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    LibrarySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LibraryResource'
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    LibraryResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - libraries
          example: libraries
        attributes:
          $ref: '#/components/schemas/LibraryAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            environment:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
            builds:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    BuildAttributes:
      type: object
      properties:
        status:
          type: string
          enum:
          - pending
          - succeeded
          - failed
          description: The current status of the build.
          example: pending
        token:
          type: string
          description: A unique token for the build.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    BuildSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BuildResource'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    BuildResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - builds
          example: builds
        attributes:
          $ref: '#/components/schemas/BuildAttributes'
        relationships:
          type: object
          properties:
            library:
              $ref: '#/components/schemas/Relationship'
            environment:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    EnvironmentSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EnvironmentResource'
    BuildListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BuildResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
  parameters:
    filterCreatedAt:
      name: filter[created_at]
      in: query
      schema:
        type: string
      description: Filter by creation date.
    buildId:
      name: buildId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a build.
    pageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Number of results per page.
    filterUpdatedAt:
      name: filter[updated_at]
      in: query
      schema:
        type: string
      description: Filter by last updated date.
    libraryId:
      name: libraryId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a library.
    pageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
      description: Page number for pagination.
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Server-to-Server access token obtained from Adobe Developer Console. Tokens expire every 24 hours.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
x-refined-from:
- adobe-launch-reactor-api-published-openapi.yml
- reactor-api.yml
