openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Companies API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://edge.adobedc.net
  description: Adobe Edge Network Non-Authenticated Server
- url: https://server.adobedc.net
  description: Adobe Edge Network Authenticated Server
tags:
- name: Companies
  description: Manage organization companies.
paths:
  /companies:
    get:
      operationId: listCompanies
      summary: List Companies
      description: Retrieve all companies you have access to.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of companies.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanyListResponse'
              examples:
                Listcompanies200Example:
                  summary: Default listCompanies 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: companies
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies/{companyId}:
    get:
      operationId: getCompany
      summary: Retrieve a Company
      description: Look up details for a specific company by its ID.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: Company details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanySingleResponse'
              examples:
                Getcompany200Example:
                  summary: Default getCompany 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: companies
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    CompanyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - companies
          example: companies
        attributes:
          $ref: '#/components/schemas/CompanyAttributes'
        relationships:
          type: object
          properties:
            properties:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    CompanyAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the company.
          example: Example Title
        org_id:
          type: string
          description: The Adobe organization ID.
          example: '500123'
        token:
          type: string
          description: A unique token for the company.
          example: example_value
        created_at:
          type: string
          format: date-time
          description: When the company was created.
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: When the company was last updated.
          example: '2026-01-15T10:30:00Z'
        cjm_enabled:
          type: boolean
          description: Whether Customer Journey Management is enabled.
          example: true
        edge_enabled:
          type: boolean
          description: Whether Edge capabilities are enabled.
          example: true
    CompanyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CompanyResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    CompanySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CompanyResource'
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    filterName:
      name: filter[name]
      in: query
      schema:
        type: string
      description: Filter by name.
    pageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Number of results per page.
    pageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
      description: Page number for pagination.
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a company.
    filterUpdatedAt:
      name: filter[updated_at]
      in: query
      schema:
        type: string
      description: Filter by last updated date.
    filterCreatedAt:
      name: filter[created_at]
      in: query
      schema:
        type: string
      description: Filter by creation date.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
