openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Properties API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://reactor.adobe.io
  description: Adobe Reactor API production gateway
tags:
- name: Properties
  description: Manage event forwarding properties (edge platform).
paths:
  /companies/{companyId}/properties:
    get:
      operationId: listEventForwardingProperties
      summary: List Event Forwarding Properties
      description: Retrieve properties for a company, filtering by platform=edge to get event forwarding properties specifically.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/companyId'
      - name: filter[platform]
        in: query
        required: true
        schema:
          type: string
          enum:
          - edge
        description: Filter to edge platform for event forwarding properties.
        example: edge
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of event forwarding properties.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertyListResponse'
              examples:
                Listeventforwardingproperties200Example:
                  summary: Default listEventForwardingProperties 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: properties
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingProperty
      summary: Create an Event Forwarding Property
      description: Create a new edge property for event forwarding.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
            examples:
              CreateeventforwardingpropertyRequestExample:
                summary: Default createEventForwardingProperty request
                x-microcks-default: true
                value:
                  data:
                    type: properties
                    attributes:
                      name: Example Title
                      platform: edge
      responses:
        '201':
          description: Event forwarding property created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Createeventforwardingproperty201Example:
                  summary: Default createEventForwardingProperty 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}:
    get:
      operationId: getEventForwardingProperty
      summary: Retrieve an Event Forwarding Property
      description: Look up a specific event forwarding property by its ID.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Geteventforwardingproperty200Example:
                  summary: Default getEventForwardingProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateEventForwardingProperty
      summary: Update an Event Forwarding Property
      description: Update the attributes of an event forwarding property.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateRequest'
            examples:
              UpdateeventforwardingpropertyRequestExample:
                summary: Default updateEventForwardingProperty request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: properties
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '200':
          description: Property updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Updateeventforwardingproperty200Example:
                  summary: Default updateEventForwardingProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEventForwardingProperty
      summary: Delete an Event Forwarding Property
      description: Remove an event forwarding property. Returns HTTP 204 on success.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '204':
          description: Property deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/company:
    get:
      operationId: getCompanyForProperty
      summary: Get the Company for a Property
      description: Retrieve the company that owns the specified property.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '200':
          description: Company details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanySingleResponse'
              examples:
                Getcompanyforproperty200Example:
                  summary: Default getCompanyForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: companies
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        platform:
          type: string
          enum:
          - edge
          description: Always edge for event forwarding properties.
          example: edge
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string
          example: []
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    CompanyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - companies
          example: companies
        attributes:
          $ref: '#/components/schemas/CompanyAttributes'
        relationships:
          type: object
          properties:
            properties:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    CompanyAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the company.
          example: Example Title
        org_id:
          type: string
          description: The Adobe organization ID.
          example: '500123'
        token:
          type: string
          description: A unique token for the company.
          example: example_value
        created_at:
          type: string
          format: date-time
          description: When the company was created.
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: When the company was last updated.
          example: '2026-01-15T10:30:00Z'
        cjm_enabled:
          type: boolean
          description: Whether Customer Journey Management is enabled.
          example: true
        edge_enabled:
          type: boolean
          description: Whether Edge capabilities are enabled.
          example: true
    PropertyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - properties
          example: properties
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        relationships:
          type: object
          properties:
            company:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            environments:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            secrets:
              $ref: '#/components/schemas/Relationship'
          example: example_value
    PropertyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PropertyResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PropertyCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - properties
            attributes:
              type: object
              required:
              - name
              - platform
              properties:
                name:
                  type: string
                platform:
                  type: string
                  enum:
                  - edge
          example: example_value
    PropertyUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - properties
            attributes:
              type: object
              properties:
                name:
                  type: string
                enabled:
                  type: boolean
          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'
    CompanySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CompanyResource'
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a company.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
