openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Libraries API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://edge.adobedc.net
  description: Adobe Edge Network Non-Authenticated Server
- url: https://server.adobedc.net
  description: Adobe Edge Network Authenticated Server
tags:
- name: Libraries
  description: Manage libraries for event forwarding deployment.
paths:
  /properties/{propertyId}/libraries:
    get:
      operationId: listEventForwardingLibraries
      summary: List Event Forwarding Libraries
      description: Retrieve libraries for an event forwarding property.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'
              examples:
                Listeventforwardinglibraries200Example:
                  summary: Default listEventForwardingLibraries 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingLibrary
      summary: Create an Event Forwarding Library
      description: Create a new library for event forwarding deployment.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryCreateRequest'
            examples:
              CreateeventforwardinglibraryRequestExample:
                summary: Default createEventForwardingLibrary request
                x-microcks-default: true
                value:
                  data:
                    type: libraries
                    attributes:
                      name: Example Title
      responses:
        '201':
          description: Library created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Createeventforwardinglibrary201Example:
                  summary: Default createEventForwardingLibrary 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Retrieve a Library
      description: Look up a specific library by its ID.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Library details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse_2'
              examples:
                Getlibrary200Example:
                  summary: Default getLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateLibrary
      summary: Update a Library
      description: Transition a library's publishing state or modify its attributes.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryUpdateRequest'
            examples:
              UpdatelibraryRequestExample:
                summary: Default updateLibrary request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: libraries
                    attributes:
                      name: Example Title
                    meta:
                      action: submit
      responses:
        '200':
          description: Library updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse_2'
              examples:
                Updatelibrary200Example:
                  summary: Default updateLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/relationships/{resourceType}:
    post:
      operationId: addResourcesToLibrary
      summary: Add Resources to a Library
      description: Add data elements, extensions, or rules to a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              AddresourcestolibraryRequestExample:
                summary: Default addResourcesToLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '200':
          description: Resources added successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: replaceResourcesInLibrary
      summary: Replace Resources in a Library
      description: Replace the existing set of resources in a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              ReplaceresourcesinlibraryRequestExample:
                summary: Default replaceResourcesInLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '200':
          description: Resources replaced successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: removeResourcesFromLibrary
      summary: Remove Resources From a Library
      description: Remove data elements, extensions, or rules from a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              RemoveresourcesfromlibraryRequestExample:
                summary: Default removeResourcesFromLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '204':
          description: Resources removed successfully.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/relationships/environment:
    post:
      operationId: setEnvironmentForLibrary
      summary: Set Environment for a Library
      description: Assign a library to an environment for publishing.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipSingleRequest'
            examples:
              SetenvironmentforlibraryRequestExample:
                summary: Default setEnvironmentForLibrary request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: example_value
      responses:
        '200':
          description: Environment assigned successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/data_elements:
    get:
      operationId: listDataElementsForLibrary
      summary: List Data Elements for a Library
      description: Retrieve data elements associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of data elements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'
              examples:
                Listdataelementsforlibrary200Example:
                  summary: Default listDataElementsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/extensions:
    get:
      operationId: listExtensionsForLibrary
      summary: List Extensions for a Library
      description: Retrieve extensions associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'
              examples:
                Listextensionsforlibrary200Example:
                  summary: Default listExtensionsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/rules:
    get:
      operationId: listRulesForLibrary
      summary: List Rules for a Library
      description: Retrieve rules associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listrulesforlibrary200Example:
                  summary: Default listRulesForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/environment:
    get:
      operationId: getEnvironmentForLibrary
      summary: Get the Environment for a Library
      description: Retrieve the environment assigned to a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Getenvironmentforlibrary200Example:
                  summary: Default getEnvironmentForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/property:
    get:
      operationId: getPropertyForLibrary
      summary: Get the Property for a Library
      description: Retrieve the property that owns the specified library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyforlibrary200Example:
                  summary: Default getPropertyForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the property.
          example: Example Title
        platform:
          type: string
          enum:
          - web
          - mobile
          - edge
          description: The platform type (web, mobile, or edge).
          example: web
        domains:
          type: array
          items:
            type: string
          description: A list of domains associated with the property.
          example: []
        enabled:
          type: boolean
          description: Whether the property is enabled.
          example: true
        development:
          type: boolean
          description: Whether the property is in development mode.
          example: true
        privacy:
          type: string
          enum:
          - optin
          - optout
          description: The default privacy setting.
          example: optin
        ssl_enabled:
          type: boolean
          description: Whether SSL is enabled.
          example: true
        rule_component_sequencing_enabled:
          type: boolean
          description: Whether rule component sequencing is enabled.
          example: true
        undefined_vars_return_empty:
          type: boolean
          description: Whether undefined data element variables return empty strings.
          example: true
        token:
          type: string
          description: A unique token for the property.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    ExtensionAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension.
          example: Example Title
        display_name:
          type: string
          description: The human-readable display name.
          example: example_value
        version:
          type: string
          description: The version of the installed extension.
          example: example_value
        delegate_descriptor_id:
          type: string
          description: The descriptor ID for the extension configuration.
          example: '500123'
        settings:
          type: string
          description: A JSON-encoded string of settings.
          example: example_value
        enabled:
          type: boolean
          description: Whether the extension is enabled.
          example: true
        published:
          type: boolean
          example: true
        dirty:
          type: boolean
          example: true
        revision_number:
          type: integer
          example: 10
        deleted_at:
          type: string
          format: date-time
          nullable: true
          description: When the extension was deleted, if applicable.
          example: '2026-01-15T10:30:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    EnvironmentAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the environment.
          example: Example Title
        stage:
          type: string
          enum:
          - development
          - staging
          - production
          description: The environment stage.
          example: development
        archive:
          type: boolean
          description: Whether the build is delivered as a ZIP archive.
          example: true
        path:
          type: string
          description: The URL path appended to the host domain for deployment.
          example: example_value
        library_name:
          type: string
          description: The custom library filename.
          example: example_value
        library_path:
          type: string
          description: The custom library path.
          example: example_value
        token:
          type: string
          description: A unique token for the environment.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ExtensionResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - extensions
          example: extensions
        attributes:
          $ref: '#/components/schemas/ExtensionAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension_package:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    LibrarySingleResponse_2:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LibraryResource'
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    RelationshipRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
            required:
            - id
            - type
          example: []
    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'
    LibraryUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - libraries
            attributes:
              type: object
              properties:
                name:
                  type: string
            meta:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - submit
                  - approve
                  - reject
                  - develop
                  description: The publishing state transition action.
          example: example_value
    EnvironmentSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EnvironmentResource'
    RelationshipSingleRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          required:
          - id
          - type
          example: example_value
    LibraryCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - libraries
            attributes:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
          example: example_value
    RuleResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - rules
          example: rules
        attributes:
          $ref: '#/components/schemas/RuleAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            rule_components:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    LibrarySingleResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - libraries
            attributes:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: string
          example: example_value
    RuleAttributes:
      type: object
      properties:
        name:
          type: string
          description: The human-readable name of the rule.
          example: Example Title
        enabled:
          type: boolean
          description: Whether the rule is enabled.
          example: true
        published:
          type: boolean
          description: Whether the rule has been published.
          example: true
        dirty:
          type: boolean
          description: Whether the rule has unpublished changes.
          example: true
        revision_number:
          type: integer
          description: The current revision number.
          example: 10
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ExtensionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    LibraryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - libraries
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string
          example: []
    LibraryResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - libraries
          example: libraries
        attributes:
          $ref: '#/components/schemas/LibraryAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            environment:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
            builds:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    RuleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RuleResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string
          example: []
    LibraryAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the library.
          example: Example Title
        state:
          type: string
          enum:
          - development
          - submitted
          - approved
          - rejected
          - published
          description: The current publishing state.
          example: development
        build_required:
          type: boolean
          description: Whether the library needs a new build.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    DataElementAttributes:
      type: object
      properties:
        name:
          type: string
          description: The human-readable name of the data element.
          example: Example Title
        delegate_descriptor_id:
          type: string
          description: The descriptor ID identifying the data element type from an extension.
          example: '500123'
        default_value:
          type: string
          description: The default value when the data element returns no value.
          example: example_value
        settings:
          type: string
          description: A JSON-encoded string of settings for the data element.
          example: example_value
        storage_duration:
          type: string
          enum:
          - pageview
          - session
          - visitor
          description: How long the data element value persists.
          example: pageview
        force_lower_case:
          type: boolean
          description: Whether to force the value to lowercase.
          example: true
        clean_text:
          type: boolean
          description: Whether to clean whitespace from the value.
          example: true
        enabled:
          type: boolean
          description: Whether the data element is enabled.
          example: true
        published:
          type: boolean
          example: true
        dirty:
          type: boolean
          example: true
        revision_number:
          type: integer
          example: 10
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    PropertyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - properties
          example: properties
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        relationships:
          type: object
          properties:
            company:
              $ref: '#/components/schemas/Relationship'
            callbacks:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            environments:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            hosts:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    EnvironmentResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - environments
          example: environments
        attributes:
          $ref: '#/components/schemas/EnvironmentAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            host:
              $ref: '#/components/schemas/Relationship'
            library:
              $ref: '#/components/schemas/Relationship'
            builds:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    DataElementListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataElementResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    DataElementResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - data_elements
          example: data_elements
        attributes:
          $ref: '#/components/schemas/DataElementAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    ErrorResponse_2:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    resourceType:
      name: resourceType
      in: path
      required: true
      schema:
        type: string
        enum:
        - data_elements
        - extensions
        - rules
      description: The type of resource to manage in the library relationship.
    libraryId:
      name: libraryId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a library.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
