openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Secrets API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://edge.adobedc.net
  description: Adobe Edge Network Non-Authenticated Server
- url: https://server.adobedc.net
  description: Adobe Edge Network Authenticated Server
tags:
- name: Secrets
  description: Manage secrets for authenticating event forwarding rules with external systems. Supports token, simple-http, oauth2, and oauth2-google types.
paths:
  /properties/{propertyId}/secrets:
    get:
      operationId: listSecrets
      summary: List Secrets for a Property
      description: Retrieve all secrets for an event forwarding property. Secrets enable event forwarding rules to authenticate with external services.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[created_at]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[updated_at]
        in: query
        schema:
          type: string
        example: example_value
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of secrets.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'
              examples:
                Listsecrets200Example:
                  summary: Default listSecrets 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: secrets
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSecret
      summary: Create a Secret
      description: 'Create a new secret for authenticating with an external service. Secrets are scoped to a specific environment and support multiple credential types: token, simple-http, oauth2, and oauth2-google.'
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SecretCreateRequest'
            examples:
              CreatesecretRequestExample:
                summary: Default createSecret request
                x-microcks-default: true
                value:
                  data:
                    type: secrets
                    attributes:
                      name: Example Title
                      type_of: token
                      credentials: example_value
                    relationships:
                      environment:
                        data: {}
      responses:
        '201':
          description: Secret created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretSingleResponse'
              examples:
                Createsecret201Example:
                  summary: Default createSecret 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: secrets
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /environments/{environmentId}/secrets:
    get:
      operationId: listSecretsForEnvironment
      summary: List Secrets for an Environment
      description: Retrieve all secrets scoped to a specific environment.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of secrets.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'
              examples:
                Listsecretsforenvironment200Example:
                  summary: Default listSecretsForEnvironment 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: secrets
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /secrets/{secretId}:
    get:
      operationId: getSecret
      summary: Retrieve a Secret
      description: Look up a specific secret by its ID.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: Secret details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretSingleResponse'
              examples:
                Getsecret200Example:
                  summary: Default getSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: secrets
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateSecret
      summary: Update a Secret
      description: 'Test, retry, or reauthorize a secret. Use meta.action to specify the operation: test (trigger exchange), retry (re-exchange after failure), or reauthorize (for oauth2-google secrets).'
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SecretUpdateRequest'
            examples:
              UpdatesecretRequestExample:
                summary: Default updateSecret request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: secrets
                    meta:
                      action: test
      responses:
        '200':
          description: Secret updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretSingleResponse'
              examples:
                Updatesecret200Example:
                  summary: Default updateSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: secrets
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSecret
      summary: Delete a Secret
      description: Remove a secret permanently. Immediately disables any rules referencing this secret.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '204':
          description: Secret deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /secrets/{secretId}/environment:
    get:
      operationId: getEnvironmentForSecret
      summary: Get the Environment for a Secret
      description: Retrieve the environment to which a secret is scoped.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Getenvironmentforsecret200Example:
                  summary: Default getEnvironmentForSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      attributes:
                        name: Example Title
                        stage: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /secrets/{secretId}/property:
    get:
      operationId: getPropertyForSecret
      summary: Get the Property for a Secret
      description: Retrieve the property that owns the specified secret.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyforsecret200Example:
                  summary: Default getPropertyForSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SecretAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the secret.
          example: Example Title
        type_of:
          type: string
          enum:
          - token
          - simple-http
          - oauth2
          - oauth2-google
          description: The type of secret credential.
          example: token
        status:
          type: string
          enum:
          - pending
          - succeeded
          - failed
          description: The exchange status of the secret.
          example: pending
        credentials:
          type: object
          description: 'The credential payload. Structure varies by type_of: token (token string), simple-http (username/password), oauth2 (client_id/client_secret/token_url), oauth2-google (scopes/authorization).'
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        platform:
          type: string
          enum:
          - edge
          description: Always edge for event forwarding properties.
          example: edge
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    EnvironmentSingleResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - environments
            attributes:
              type: object
              properties:
                name:
                  type: string
                stage:
                  type: string
          example: example_value
    SecretUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - secrets
            meta:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - test
                  - retry
                  - reauthorize
                  description: 'Action to perform: test triggers the credential exchange, retry re-exchanges after failure, reauthorize refreshes oauth2-google tokens.'
          example: example_value
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string
          example: []
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    SecretResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - secrets
          example: secrets
        attributes:
          $ref: '#/components/schemas/SecretAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            environment:
              $ref: '#/components/schemas/Relationship'
          example: example_value
    SecretCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          - relationships
          properties:
            type:
              type: string
              enum:
              - secrets
            attributes:
              type: object
              required:
              - name
              - type_of
              properties:
                name:
                  type: string
                type_of:
                  type: string
                  enum:
                  - token
                  - simple-http
                  - oauth2
                  - oauth2-google
                credentials:
                  type: object
                  description: Credential payload matching the secret type.
            relationships:
              type: object
              required:
              - environment
              properties:
                environment:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - id
                      - type
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - environments
          example: example_value
    PropertyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - properties
          example: properties
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        relationships:
          type: object
          properties:
            company:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            environments:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            secrets:
              $ref: '#/components/schemas/Relationship'
          example: example_value
    SecretSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SecretResource'
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'
    SecretListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecretResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    secretId:
      name: secretId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a secret.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
    environmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for an environment.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
