openapi: 3.1.0
info:
  title: Adobe Experience Platform Data Collection Builds Data Elements API
  description: The Data Collection APIs provide endpoints for sending data directly to the Adobe Experience Platform Edge Network. The Edge Network API supports both authenticated and non-authenticated data ingestion, while the Media Edge API enables media tracking data transmission. These APIs allow real-time data collection from web, mobile, and IoT devices.
  version: 2.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html
servers:
- url: https://reactor.adobe.io
  description: Adobe Reactor API production gateway
tags:
- name: Data Elements
  description: Manage data elements for server-side event processing.
paths:
  /properties/{propertyId}/data_elements:
    get:
      operationId: listEventForwardingDataElements
      summary: List Event Forwarding Data Elements
      description: Retrieve data elements for an event forwarding property.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of data elements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'
              examples:
                Listeventforwardingdataelements200Example:
                  summary: Default listEventForwardingDataElements 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      attributes: {}
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingDataElement
      summary: Create an Event Forwarding Data Element
      description: Create a new data element for event forwarding.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DataElementCreateRequest'
            examples:
              CreateeventforwardingdataelementRequestExample:
                summary: Default createEventForwardingDataElement request
                x-microcks-default: true
                value:
                  data:
                    type: data_elements
                    attributes:
                      name: Example Title
                      delegate_descriptor_id: '500123'
                      settings: example_value
                      enabled: true
                    relationships:
                      extension:
                        data: {}
      responses:
        '201':
          description: Data element created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Createeventforwardingdataelement201Example:
                  summary: Default createEventForwardingDataElement 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      attributes:
                        name: Example Title
                        delegate_descriptor_id: '500123'
                        settings: example_value
                        enabled: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}:
    get:
      operationId: getDataElement
      summary: Retrieve a Data Element
      description: Look up a specific data element by its ID.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: Data element details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Getdataelement200Example:
                  summary: Default getDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateDataElement
      summary: Update a Data Element
      description: Modify a data element's attributes.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DataElementUpdateRequest'
            examples:
              UpdatedataelementRequestExample:
                summary: Default updateDataElement request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: data_elements
                    attributes:
                      name: Example Title
                      default_value: example_value
                      settings: example_value
                      storage_duration: pageview
                      force_lower_case: true
                      clean_text: true
                      enabled: true
      responses:
        '200':
          description: Data element updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Updatedataelement200Example:
                  summary: Default updateDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteDataElement
      summary: Delete a Data Element
      description: Remove a data element. Returns HTTP 204 on success.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '204':
          description: Data element deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}/revisions:
    get:
      operationId: listRevisionsForDataElement
      summary: List Revisions for a Data Element
      description: Retrieve the revision history for a data element.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: A list of data element revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'
              examples:
                Listrevisionsfordataelement200Example:
                  summary: Default listRevisionsForDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}/extension:
    get:
      operationId: getExtensionForDataElement
      summary: Get the Extension for a Data Element
      description: Retrieve the extension associated with the specified data element.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Getextensionfordataelement200Example:
                  summary: Default getExtensionForDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}/property:
    get:
      operationId: getPropertyForDataElement
      summary: Get the Property for a Data Element
      description: Retrieve the property that owns the specified data element.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getpropertyfordataelement200Example:
                  summary: Default getPropertyForDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the property.
          example: Example Title
        platform:
          type: string
          enum:
          - web
          - mobile
          - edge
          description: The platform type (web, mobile, or edge).
          example: web
        domains:
          type: array
          items:
            type: string
          description: A list of domains associated with the property.
          example: []
        enabled:
          type: boolean
          description: Whether the property is enabled.
          example: true
        development:
          type: boolean
          description: Whether the property is in development mode.
          example: true
        privacy:
          type: string
          enum:
          - optin
          - optout
          description: The default privacy setting.
          example: optin
        ssl_enabled:
          type: boolean
          description: Whether SSL is enabled.
          example: true
        rule_component_sequencing_enabled:
          type: boolean
          description: Whether rule component sequencing is enabled.
          example: true
        undefined_vars_return_empty:
          type: boolean
          description: Whether undefined data element variables return empty strings.
          example: true
        token:
          type: string
          description: A unique token for the property.
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    ExtensionAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension.
          example: Example Title
        display_name:
          type: string
          description: The human-readable display name.
          example: example_value
        version:
          type: string
          description: The version of the installed extension.
          example: example_value
        delegate_descriptor_id:
          type: string
          description: The descriptor ID for the extension configuration.
          example: '500123'
        settings:
          type: string
          description: A JSON-encoded string of settings.
          example: example_value
        enabled:
          type: boolean
          description: Whether the extension is enabled.
          example: true
        published:
          type: boolean
          example: true
        dirty:
          type: boolean
          example: true
        revision_number:
          type: integer
          example: 10
        deleted_at:
          type: string
          format: date-time
          nullable: true
          description: When the extension was deleted, if applicable.
          example: '2026-01-15T10:30:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ExtensionResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - extensions
          example: extensions
        attributes:
          $ref: '#/components/schemas/ExtensionAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension_package:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    ExtensionSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionResource'
    DataElementUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - data_elements
            attributes:
              type: object
              properties:
                name:
                  type: string
                default_value:
                  type: string
                settings:
                  type: string
                storage_duration:
                  type: string
                  enum:
                  - pageview
                  - session
                  - visitor
                force_lower_case:
                  type: boolean
                clean_text:
                  type: boolean
                enabled:
                  type: boolean
          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string
          example: []
    DataElementSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataElementResource'
    PropertyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - properties
          example: properties
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        relationships:
          type: object
          properties:
            company:
              $ref: '#/components/schemas/Relationship'
            callbacks:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            environments:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            hosts:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    DataElementCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum:
              - data_elements
            attributes:
              type: object
              required:
              - name
              - delegate_descriptor_id
              properties:
                name:
                  type: string
                delegate_descriptor_id:
                  type: string
                settings:
                  type: string
                enabled:
                  type: boolean
            relationships:
              type: object
              properties:
                extension:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - extensions
          example: example_value
    DataElementListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataElementResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    DataElementResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - data_elements
          example: data_elements
        attributes:
          type: object
          properties:
            name:
              type: string
            delegate_descriptor_id:
              type: string
            settings:
              type: string
            enabled:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          example: example_value
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension:
              $ref: '#/components/schemas/Relationship'
          example: example_value
    ErrorResponse_2:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    dataElementId:
      name: dataElementId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a data element.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token for authenticated data collection via server.adobedc.net.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
