openapi: 3.2.0
info:
  title: Reactor Audit events API
  description: "Use the Reactor API to programmatically manage resources and develop tag extensions in Adobe Experience Platform.\n**Related documentation**:\n  * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)\n  * [Reactor API guides](https://adobe.com/go/reactor-api-overview)\n\n**API paths**:\n  * Reactor Gateway URL: https://<span>reactor.adobe.io\n  * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties\n\n**Required headers**:\n  * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).\n  * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).\n  * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.\n\n- **API error handling**:\n    - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors)."
  version: '1.0'
servers:
- url: //reactor.adobe.io
tags:
- name: Audit events
  description: An audit event is a record of a specific change to another tag resource, generated at the time the change is made. These are system events which can be subscribed to through the use of a callback function.
paths:
  /audit_events:
    get:
      tags:
      - Audit events
      summary: List audit events
      description: '>**NOTE**: For more information on using this operation, see the [audit events endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/audit-events.html) on Experience League.'
      operationId: listAuditEvents
      parameters:
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: type_of
        in: query
        description: Filter by `type`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns an array of audit events, including their IDs and attributes.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/auditEventsListResponse'
  /audit_events/{EVENT_ID}:
    get:
      tags:
      - Audit events
      summary: Retrieve an audit event
      description: '>**NOTE**: For more information on using this operation, see the [audit events endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/audit-events.html) on Experience League.'
      operationId: retrieveAuditEvent
      parameters:
      - name: EVENT_ID
        in: path
        description: The ID of the audit event you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the audit event.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/auditEventsLookupResponse'
components:
  schemas:
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    auditEventsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              attributed_to_display_name:
                type: string
                description: The display name for the user that triggered the action recorded by the audit event.
              attributed_to_email:
                type: string
                description: The email address for the user that triggered the action recorded by the audit event.
              created_at:
                type: string
                description: A timestamp of when the audit event was created in the system.
              display_name:
                type: string
                description: The display name for the entity the audit event is associated with.
              type_of:
                type: string
                description: 'The  type of audit event. Audit events types are structured using the syntax `{RESOURCE_TYPE}.{EVENT}` (for example, `build.created`).



                  `{RESOURCE_TYPE}` can be any of the following:



                  * `property`

                  * `extension`

                  * `data_element`

                  * `rule`

                  * `rule_component`

                  * `library`

                  * `build`

                  * `environment`

                  * `host`




                  `{EVENT}` can any of the following:



                  * `created`

                  * `updated`

                  * `deleted`'
              updated_at:
                type: string
                description: A timestamp of when the audit event was last updated.
              entity:
                type: string
                description: A JSON payload represented as a string, containing the  details of the entity associated with the audit event.
            description: Contains the audit event's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this audit event.
            allOf:
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedEntity'
          links:
            type: object
            properties:
              entity:
                type: string
                description: A link to the entity associated with the audit event.
              property:
                type: string
                description: A link to the property that owns the audit event.
              self:
                type: string
                description: A link to the audit event itself.
            description: Contains links related to the audit event which can be used in subsequent fetch requests.
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    auditEventsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    auditEventsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/auditEventsEntity'
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    relatedEntity:
      type: object
      properties:
        entity:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related entity.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related entity.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the entity.
                type:
                  type: string
                  description: The resource type for the entity.
              description: Contains further information about the related entity.
          description: Contains details about the entity associated with the audit event.
x-original-swagger-version: '2.0'
