openapi: 3.2.0
info:
  title: Adobe Launch Rule components API
  version: '1.0'
  description: 'Operations tagged Rule components across 2 of this provider''s published API definitions: adobe-launch-reactor-api-published-openapi.yml, reactor-api.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: //reactor.adobe.io
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server
tags:
- name: Rule components
  description: 'Rule components are the individual items that make up a rule. Rule components have three basic types: events (what triggers a rule), conditions (what the rule checks to determine an action), and actions (what the rule executes depending on whether the condition is met). A rule component can **only** belong to exactly one rule.'
paths:
  /rules/{RULE_ID}/rule_components:
    get:
      tags:
      - Rule components
      summary: List a rule's components
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: listRuleComponents
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule whose rule components you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: dirty
        in: query
        description: Filter by `dirty` (whether the resource contains changes that haven't been pushed to a library).
        schema:
          type: string
      - name: enabled
        in: query
        description: Filter by `enabled`.
        schema:
          type: string
      - name: name
        in: query
        description: Filter by `name`.
        schema:
          type: string
      - name: negate
        in: query
        description: Filter by `negate` (whether the rule component represents a negation).
        schema:
          type: string
      - name: origin_id
        in: query
        description: Filter by `origin_id`.
        schema:
          type: string
      - name: published
        in: query
        description: Filter by `published` status.
        schema:
          type: string
      - name: published_at
        in: query
        description: Filter by `published_at` timestamp.
        schema:
          type: string
      - name: revision_number
        in: query
        description: Filter by `revision_number`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of rule components attached to the rule.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsListResponse'
    post:
      tags:
      - Rule components
      summary: Create a new rule component
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: createRuleComponent
      parameters:
      - name: RULE_ID
        in: path
        description: The ID of the rule that you want to create a rule component for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ruleComponentsCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /rule_components/{RULE_COMPONENT_ID}:
    get:
      tags:
      - Rule components
      summary: Retrieve a rule component
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: retrieveRuleComponent
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsLookupResponse'
    delete:
      tags:
      - Rule components
      summary: Delete a rule component
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: deleteRuleComponent
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      responses:
        '204':
          x-summary: No content
          description: A successful response returns HTTP status 204 (No Content).
          content: {}
    patch:
      tags:
      - Rule components
      summary: Update a rule component
      description: 'When updating a rule component, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.


        >**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: updateRuleComponent
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component you want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ruleComponentsUpdatePayload'
        required: true
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the new revision for the rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsUpdateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /rule_components/{RULE_COMPONENT_ID}/extension:
    get:
      operationId: getRuleComponentExtension
      tags:
      - Rule components
      summary: Look up the extension that provides a specific rule component
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component whose extension you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the extension that provides the rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsExtensionLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /rule_components/{RULE_COMPONENT_ID}/origin:
    get:
      tags:
      - Rule components
      summary: Retrieve a rule component's origin
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: retrieveRuleComponentOrigin
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component whose origin you want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns the details of the rule component's origin.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsOriginLookupResponse'
    servers:
    - url: //reactor.adobe.io
  /rule_components/{RULE_COMPONENT_ID}/rules:
    get:
      tags:
      - Rule components
      summary: List the rules that utilize a rule component
      description: '>**NOTE**: For more information on using this operation, see the rule components endpoint guide on Experience League.'
      operationId: listRuleComponentsRelatedRules
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component whose related rules you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of related rules attached the rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsRulesListResponse'
    servers:
    - url: //reactor.adobe.io
  /rule_components/{RULE_COMPONENT_ID}/notes:
    get:
      tags:
      - Rule components
      summary: List a rule component's notes
      description: '>**NOTE**: For more information on using this operation, see the notes endpoint guide on Experience League.'
      operationId: listRuleComponentNotes
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component whose notes you want to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: All GET requests must include this header with the value of `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        description: Limits the number of results per page (for example, `page[size]=50`). Can be used in conjunction with `page[number]` to manage response pagination.
        schema:
          maximum: 100
          type: integer
          default: 25
      - name: page[number]
        in: query
        description: 'The page index to return for the listing response (for example, `page[number]=2`). Can be used in conjunction with `page[size]` to manage response pagination.

          >**NOTE**: Responses for listing calls contain a `meta.pagination` object which contains the indexes for the current, previous, and next pages in the response. To access these pages, use their index values for this parameter in subsequent API calls.'
        schema:
          type: integer
          default: 1
      - name: created_at
        in: query
        description: Filter by `created_at` timestamp.
        schema:
          type: string
      - name: updated_at
        in: query
        description: Filter by `updated_at` timestamp.
        schema:
          type: string
      - name: text
        in: query
        description: Filter by `text`.
        schema:
          type: string
      responses:
        '200':
          x-summary: Success
          description: A successful response returns a list of notes attached the rule component.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsNotesListResponse'
    post:
      tags:
      - Rule components
      summary: Create a note for a rule component
      description: '>**NOTE**: For more information on using this operation, see the notes endpoint guide on Experience League.'
      operationId: createRuleComponentNote
      parameters:
      - name: RULE_COMPONENT_ID
        in: path
        description: The ID of the rule component that you want to create a note for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: The access token generated using your Organization ID, Client ID, and JavaScript Web Token (JWT), prefixed with `bearer`. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The Client ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from Adobe Developer Console. For more information on how to obtain this value, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: This header must be provided with a value of `application/vnd.api+json` on all requests that contain a JSON payload.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ruleComponentsNotesCreatePayload'
        required: true
      responses:
        '201':
          x-summary: Success
          description: A successful response returns the details of the newly created note.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ruleComponentsNotesCreateResponse'
      x-codegen-request-body-name: body
    servers:
    - url: //reactor.adobe.io
  /properties/{propertyId}/rule_components:
    post:
      operationId: createRuleComponent
      summary: Create a Rule Component
      description: Create a new rule component (event, condition, or action) under the specified property.
      tags:
      - Rule components
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleComponentCreateRequest'
            examples:
              CreaterulecomponentRequestExample:
                summary: Default createRuleComponent request
                x-microcks-default: true
                value:
                  data:
                    type: rule_components
                    attributes:
                      name: Example Title
                      delegate_descriptor_id: '500123'
                      order: 10
                      settings: example_value
                      timeout: 10
                      delay_next: true
                      negate: true
                    relationships:
                      rules:
                        data: {}
                      extension:
                        data: {}
      responses:
        '201':
          description: Rule component created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentSingleResponse'
              examples:
                Createrulecomponent201Example:
                  summary: Default createRuleComponent 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rule_components
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rules/{ruleId}/rule_components:
    get:
      operationId: listRuleComponentsForRule
      summary: List Rule Components for a Rule
      description: Retrieve all components belonging to a rule.
      tags:
      - Rule components
      parameters:
      - $ref: '#/components/parameters/ruleId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterEnabled'
      - $ref: '#/components/parameters/filterPublished'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of rule components.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentListResponse'
              examples:
                Listrulecomponentsforrule200Example:
                  summary: Default listRuleComponentsForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rule_components
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rule_components/{ruleComponentId}:
    get:
      operationId: getRuleComponent
      summary: Retrieve a Rule Component
      description: Look up a specific rule component by its ID.
      tags:
      - Rule components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      responses:
        '200':
          description: Rule component details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentSingleResponse'
              examples:
                Getrulecomponent200Example:
                  summary: Default getRuleComponent 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rule_components
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    patch:
      operationId: updateRuleComponent
      summary: Update a Rule Component
      description: Modify a rule component's attributes.
      tags:
      - Rule components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleComponentUpdateRequest'
            examples:
              UpdaterulecomponentRequestExample:
                summary: Default updateRuleComponent request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: rule_components
                    attributes:
                      name: Example Title
                      order: 10
                      settings: example_value
                      timeout: 10
                      delay_next: true
                      negate: true
      responses:
        '200':
          description: Rule component updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentSingleResponse'
              examples:
                Updaterulecomponent200Example:
                  summary: Default updateRuleComponent 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rule_components
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    delete:
      operationId: deleteRuleComponent
      summary: Delete a Rule Component
      description: Remove a rule component. Returns HTTP 204 on success.
      tags:
      - Rule components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      responses:
        '204':
          description: Rule component deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
  /rule_components/{ruleComponentId}/extension:
    get:
      operationId: getExtensionForRuleComponent
      summary: Get the Extension for a Rule Component
      description: Retrieve the extension that provides the specified rule component.
      tags:
      - Rule components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Getextensionforrulecomponent200Example:
                  summary: Default getExtensionForRuleComponent 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
        apiKey: []
        orgId: []
    servers:
    - url: https://reactor.adobe.io
      description: Adobe Reactor API Production Server
components:
  schemas:
    extensionsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/extensionsEntity'
    relatedLibraries:
      type: object
      properties:
        libraries:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related libraries for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related libraries for the resource.
          description: Contains a link to the related libraries for the resource.
    relatedRevisions:
      type: object
      properties:
        revisions:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related revisions for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related revisions for the resource.
          description: Contains a link to the related revisions for the resource.
    notesEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              author_display_name:
                type: string
                description: The display name for the note's author.
              author_email:
                type: string
                description: The email address for the note's author.
              created_at:
                type: string
                description: A timestamp of when the note was created in the system.
              text:
                type: string
                description: The contents of the note.
            description: Contains the note's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this note.
            allOf:
            - $ref: '#/components/schemas/relatedResource'
          links:
            type: object
            properties:
              resource:
                type: string
                description: A link to the resource that the note is attached to.
              self:
                type: string
                description: A link to the note itself.
            description: Contains links related to the note which can be used in subsequent fetch requests.
    notesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/notesAttributes'
    ruleComponentsCreateResponse:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsLookupResponse'
    relatedRules:
      type: object
      properties:
        rules:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related rules for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related rules for the resource.
          description: Contains a link to the related rules for the resource.
    ruleComponentsRulesListResponse:
      allOf:
      - $ref: '#/components/schemas/rulesListResponse'
    ruleComponentsNotesListResponse:
      allOf:
      - $ref: '#/components/schemas/notesListResponse'
    extensionsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the extension was created in the system.
              deleted_at:
                type: string
                description: A timestamp of when the extension was deleted from the system. Returns `null` if the extension still exists.
              dirty:
                type: boolean
                description: Indicates whether changes have been made to the extension that have not been pushed to a library.
              enabled:
                type: boolean
                description: Indicates whether this extension is enabled.
              name:
                type: string
                description: The name of the extension.
              published:
                type: boolean
                description: Indicates whether this extension has been published.
              published_at:
                type: string
                description: A timestamp of when the extension was published. Returns `null` if `published` is set to `false`.
              revision_number:
                type: integer
                description: The revision number for the extension.
              updated_at:
                type: string
                description: A timestamp of when the extension was last updated.
              delegate_descriptor_id:
                type: string
                description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html)  for the extension.
              display_name:
                type: string
                description: A display name for the extension.
              review_status:
                type: string
                description: The current review status of the extension.
              version:
                type: string
                description: The version number of the extension.
              settings:
                type: string
                description: A custom settings JSON object represented as a string.
            description: Contains the extension's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this extension.
            allOf:
            - $ref: '#/components/schemas/relatedLibraries'
            - $ref: '#/components/schemas/relatedRevisions'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedOrigin'
            - $ref: '#/components/schemas/relatedUpdatedWithExtensionPackage'
            - $ref: '#/components/schemas/relatedExtensionPackage'
          links:
            type: object
            properties:
              property:
                type: string
                description: A link to the property that owns the extension.
              origin:
                type: string
                description: A link to the origin of the extension. The origin is the extension that was updated to create this extension.
              self:
                type: string
                description: A link to the extension itself.
              extension_package:
                type: string
                description: A link to the extension package which defines the additional capabilities that the extension makes available.
              latest_extension_package:
                type: string
                description: A link to the latest extension package which defines the additional capabilities that the extension makes available.
            description: Contains links related to the extension which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              latest_revision_number:
                type: integer
                description: The latest revision number for the extension.
            description: Contains meta information about the extension.
    notesAttributes:
      required:
      - text
      type: object
      properties:
        text:
          type: string
          description: The contents of the note.
    ruleComponentsAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the rule component.
        delegate_descriptor_id:
          type: string
          description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html) for the rule component.
        delay_next:
          type: boolean
          description: Indicates whether the next rule component should be delayed while the current rule component is processing.
        extension_id:
          type: string
          description: The ID of the extension that provides the rule component's type.
        negate:
          type: boolean
          description: Indicates whether this rule component represents a negation (i.e. the component checks if a condition is NOT true in order to pass).
        order:
          type: integer
          description: The order position for the rule component. This is typically used for action-type rule components to determine the sequence that the actions should be executed in when the rule triggers.
        rule_order:
          type: number
          description: The order position for the parent rule. This determines the order or priority in which multiple rules are triggered for the same event for a property.
        settings:
          type: string
          description: A settings JSON object represented as a string.
        timeout:
          type: integer
          description: If the rule component is time sensitive, this value represents the timeout value.
    ruleComponentsUpdatePayload:
      allOf:
      - $ref: '#/components/schemas/dataUpdate'
      - type: object
        properties:
          data:
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/ruleComponentsAttributes'
    ruleComponentsListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    relatedOrigin:
      type: object
      properties:
        origin:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related origin.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related origin.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the origin.
                type:
                  type: string
                  description: The resource type for the origin.
              description: Contains further information about the related origin.
          description: Contains information about the resource's origin. The origin is the previous resource that was revised to make this resource.
    dataCreateWithRelationships:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            relationships:
              type: object
              description: The relationships for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes, relationships, and type for the resource being created.
    ruleComponentsNotesCreatePayload:
      allOf:
      - $ref: '#/components/schemas/notesCreatePayload'
    relatedExtension:
      type: object
      properties:
        extension:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that provides the resource.
    notesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataLookup:
      type: object
      properties:
        data:
          type: object
          properties: {}
          description: Contains the details of the resource.
    metaList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                current_page:
                  type: integer
                  description: The current page of the response.
                next_page:
                  type: integer
                  description: The next page of the response.
                prev_page:
                  type: integer
                  description: The previous page of the response.
                total_pages:
                  type: integer
                  description: The total number of pages in the response.
                total_count:
                  type: integer
                  description: The total number of results in the response.
              description: Contains pagination information about the list response.
          description: Contains a `pagination` object that provides pagination information about the list response.
    ruleComponentsEntity:
      allOf:
      - $ref: '#/components/schemas/basicResourceProperties'
      - type: object
        properties:
          attributes:
            type: object
            properties:
              created_at:
                type: string
                description: A timestamp of when the rule component was created in the system.
              delegate_descriptor_id:
                type: string
                description: The [delegate descriptor ID](https://experienceleague.adobe.com/docs/experience-platform/tags/api/guides/delegate-descriptor-ids.html)  for the rule component.
              deleted_at:
                type: string
                description: A timestamp of when the rule component was deleted from the system. Returns `null` if the rule component still exists.
              dirty:
                type: boolean
                description: Indicates whether changes have been made to the rule component that have not been pushed to a library.
              name:
                type: string
                description: The name of the rule component.
              negate:
                type: boolean
                description: Indicates whether this rule component represents a negation (i.e. the component checks if a condition is NOT true in order to pass).
              order:
                type: integer
                description: The order position for the rule component. This is typically used for action-type rule components to determine the sequence that the actions should be executed in when the rule triggers.
              rule_order:
                type: number
                description: The order position for the parent rule. This determines the order or priority in which multiple rules are triggered for the same event for a property.
              timeout:
                type: integer
                description: How long in milliseconds the system will allow this rule component to process before terminating it.
              delay_next:
                type: boolean
                description: Indicates whether the next rule component should be delayed while the current rule component is processing.
              published:
                type: boolean
                description: Indicates whether this rule component has been published.
              published_at:
                type: string
                description: A timestamp of when the rule component was published. Returns `null` if `published` is set to `false`.
              revision_number:
                type: integer
                description: The revision number for the rule component.
              updated_at:
                type: string
                description: A timestamp of when the rule component was last updated.
              settings:
                type: string
                description: A settings JSON object represented as a string.
            description: Contains the rule component's attributes.
          relationships:
            type: object
            description: Provides information about other entities that are related to this rule component.
            allOf:
            - $ref: '#/components/schemas/relatedUpdatedWithExtensionPackage'
            - $ref: '#/components/schemas/relatedUpdatedWithExtension'
            - $ref: '#/components/schemas/relatedExtension'
            - $ref: '#/components/schemas/relatedNotes'
            - $ref: '#/components/schemas/relatedOrigin'
            - $ref: '#/components/schemas/relatedProperty'
            - $ref: '#/components/schemas/relatedRules'
          links:
            type: object
            properties:
              extension:
                type: string
                description: A link to the extension that provides the rule component's type.
              origin:
                type: string
                description: A link to the rule component's origin.
              rules:
                type: string
                description: A link to the rules that utilized the rule component.
              self:
                type: string
                description: A link to the rule component itself.
            description: Contains links related to the rule component which can be used in subsequent fetch requests.
          meta:
            type: object
            properties:
              latest_revision_number:
                type: string
                description: The latest revision number for the rule component.
            description: Contains meta information about the rule component.
    ruleComponentsOriginLookupResponse:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsLookupResponse'
    relatedProperty:
      type: object
      properties:
        property:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related property for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related property for the resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the property.
                type:
                  type: string
                  description: The resource type for the property (`properties`).
              description: Contains further information about the related property.
          description: Contains details about the property that owns the resource.
    ruleComponentsLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/ruleComponentsEntity'
    relatedUpdatedWithExtensionPackage:
      type: object
      properties:
        updated_with_extension_package:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that updated the resource, if applicable.
    relatedUpdatedWithExtension:
      type: object
      properties:
        updated_with_extension:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related extension.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related extension.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains further information about the related extension.
          description: Contains information about the extension that updated the resource, if applicable.
    ruleComponentsCreateAttributes:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsAttributes'
    relatedExtensionPackage:
      type: object
      properties:
        extension_package:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the extension package.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the extension package.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the extension package.
                type:
                  type: string
                  description: The resource type for the extension package (`extension_packages`).
              description: Contains further information about the extension package.
          description: Contains information about the related package for the extension.
    dataCreate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The attributes for the resource being created.
            type:
              type: string
              description: The type of resource being created.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being created.
    basicResourceProperties:
      type: object
      properties:
        id:
          type: string
          description: The unique ID for the resource.
        type:
          type: string
          description: The resource type.
    ruleComponentsUpdateResponse:
      allOf:
      - $ref: '#/components/schemas/ruleComponentsLookupResponse'
    ruleComponentsRelationships:
      required:
      - extension
      type: object
      properties:
        extension:
          required:
          - data
          type: object
          properties:
            data:
              required:
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the extension.
                type:
                  type: string
                  description: The resource type for the extension (`extensions`).
              description: Contains basic information about the extension.
          description: Describes the extension that provides the rule component's type.
        rules:
          required:
          - data
          type: object
          properties:
            data:
              type: array
              description: Lists the basic information about the related rules.
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the extension.
                  type:
                    type: string
                    description: The resource type for the extension (`extensions`).
          description: Describes the rules that utilize the rule component.
    notesLookupResponse:
      allOf:
      - $ref: '#/components/schemas/dataLookup'
      - type: object
        properties:
          data:
            type: object
            allOf:
            - $ref: '#/components/schemas/notesEntity'
    dataList:
      type: object
      properties:
        data:
          type: array
          description: Contains the results from the listing call.
          items:
            type: object
            properties: {}
    ruleComponentsNotesCreateResponse:
      allOf:
      - $ref: '#/components/schemas/notesLookupResponse'
    relatedNotes:
      type: object
      properties:
        notes:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related notes for the resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related notes for the resource.
          description: Contains a link to the related notes for the resource.
    ruleComponentsExtensionLookupResponse:
      allOf:
      - $ref: '#/components/schemas/extensionsLookupResponse'
    ruleComponentsCreatePayload:
      allOf:
      - $ref: '#/components/schemas/dataCreateWithRelationships'
      - type: object
        properties:
          data:
            required:
            - attributes
            - relationships
            type: object
            properties:
              attributes:
                type: object
                allOf:
                - $ref: '#/components/schemas/ruleComponentsCreateAttributes'
              relationships:
                type: object
                allOf:
                - $ref: '#/components/schemas/ruleComponentsRelationships'
    rulesListResponse:
      allOf:
      - $ref: '#/components/schemas/dataList'
      - type: object
        properties:
          data:
            type: array
      - $ref: '#/components/schemas/metaList'
    dataUpdate:
      required:
      - data
      type: object
      properties:
        data:
          required:
          - attributes
          - id
          - type
          type: object
          properties:
            attributes:
              type: object
              properties: {}
              description: The modified attributes for the resource being updated.
            id:
              type: string
              description: The ID of resource being updated.
            type:
              type: string
              description: The type of resource being updated.
              enum:
              - app_configurations
              - audit_events
              - builds
              - callbacks
              - companies
              - data_elements
              - environments
              - extensions
              - extension_packages
              - hosts
              - libraries
              - notes
              - properties
              - rules
              - rule_components
              - secrets
          description: Contains the attributes and type for the resource being updated.
    relatedResource:
      type: object
      properties:
        resource:
          type: object
          properties:
            links:
              type: object
              properties:
                related:
                  type: string
                  description: A link that can be used in a subsequent API call to fetch the related resource.
              description: Contains a `related` link that can be used in a subsequent API call to fetch the related resource.
            data:
              type: object
              properties:
                id:
                  type: string
                  description: The unique ID of the resource.
                type:
                  type: string
                  description: The resource type.
              description: Contains further information about the related resource.
          description: Contains a link to the resource that that the note is attached to.
    ExtensionSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionResource'
    RuleComponentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RuleComponentResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer
          example: example_value
    RuleComponentResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - rule_components
          example: rule_components
        attributes:
          $ref: '#/components/schemas/RuleComponentAttributes'
        relationships:
          type: object
          properties:
            rules:
              $ref: '#/components/schemas/Relationship'
            extension:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    RuleComponentSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RuleComponentResource'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
          example: []
    RuleComponentCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          - relationships
          properties:
            type:
              type: string
              enum:
              - rule_components
            attributes:
              type: object
              required:
              - name
              - delegate_descriptor_id
              properties:
                name:
                  type: string
                delegate_descriptor_id:
                  type: string
                order:
                  type: integer
                settings:
                  type: string
                timeout:
                  type: integer
                delay_next:
                  type: boolean
                negate:
                  type: boolean
            relationships:
              type: object
              required:
              - rules
              - extension
              properties:
                rules:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          type:
                            type: string
                            enum:
                            - rules
                extension:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - extensions
          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
          example: example_value
    RuleComponentUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          - attributes
          properties:
            id:
              type: string
            type:
              type: string
              enum:
              - rule_components
            attributes:
              type: object
              properties:
                name:
                  type: string
                order:
                  type: integer
                settings:
                  type: string
                timeout:
                  type: integer
                delay_next:
                  type: boolean
                negate:
                  type: boolean
          example: example_value
    ExtensionAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension.
          example: Example Title
        display_name:
          type: string
          description: The human-readable display name.
          example: example_value
        version:
          type: string
          description: The version of the installed extension.
          example: example_value
        delegate_descriptor_id:
          type: string
          description: The descriptor ID for the extension configuration.
          example: '500123'
        settings:
          type: string
          description: A JSON-encoded string of settings.
          example: example_value
        enabled:
          type: boolean
          description: Whether the extension is enabled.
          example: true
        published:
          type: boolean
          example: true
        dirty:
          type: boolean
          example: true
        revision_number:
          type: integer
          example: 10
        deleted_at:
          type: string
          format: date-time
          nullable: true
          description: When the extension was deleted, if applicable.
          example: '2026-01-15T10:30:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ExtensionResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum:
          - extensions
          example: extensions
        attributes:
          $ref: '#/components/schemas/ExtensionAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension_package:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
          example: example_value
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
          example: example_value
    RuleComponentAttributes:
      type: object
      properties:
        name:
          type: string
          description: The human-readable name of the rule component.
          example: Example Title
        delegate_descriptor_id:
          type: string
          description: The descriptor ID identifying the component type from an extension package.
          example: '500123'
        order:
          type: integer
          description: The execution order within its type group.
          example: 10
        rule_order:
          type: number
          description: The order relative to other components in the rule.
          example: 42.5
        settings:
          type: string
          description: A JSON-encoded string of settings for the component.
          example: example_value
        timeout:
          type: integer
          description: Timeout in milliseconds for the component.
          example: 10
        delay_next:
          type: boolean
          description: Whether to delay the next action.
          example: true
        negate:
          type: boolean
          description: Whether to negate the condition result.
          example: true
        enabled:
          type: boolean
          description: Whether the rule component is enabled.
          example: true
        published:
          type: boolean
          example: true
        dirty:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  responses:
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    filterEnabled:
      name: filter[enabled]
      in: query
      schema:
        type: boolean
      description: Filter by enabled status.
    filterCreatedAt:
      name: filter[created_at]
      in: query
      schema:
        type: string
      description: Filter by creation date.
    ruleId:
      name: ruleId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a rule.
    filterName:
      name: filter[name]
      in: query
      schema:
        type: string
      description: Filter by name.
    filterPublished:
      name: filter[published]
      in: query
      schema:
        type: boolean
      description: Filter by published status.
    pageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Number of results per page.
    filterUpdatedAt:
      name: filter[updated_at]
      in: query
      schema:
        type: string
      description: Filter by last updated date.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
    pageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
      description: Page number for pagination.
    ruleComponentId:
      name: ruleComponentId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a rule component.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Server-to-Server access token obtained from Adobe Developer Console. Tokens expire every 24 hours.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.
x-refined-from:
- adobe-launch-reactor-api-published-openapi.yml
- reactor-api.yml
