openapi: 3.1.0
info:
  title: Adobe Experience Platform Event Forwarding API
  description: >-
    Event forwarding allows you to send collected event data to destinations for
    server-side processing using the Adobe Experience Platform Edge Network. It
    decreases web page weight by moving tasks from the client to Adobe servers.
    Event forwarding uses the same Reactor API endpoints but operates on edge
    properties (platform = edge) with secrets for authenticating to external
    services.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html

servers:
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server

security:
- bearerAuth: []
  apiKey: []
  orgId: []

paths:
  # Edge Properties for Event Forwarding
  /companies/{companyId}/properties:
    get:
      operationId: listEventForwardingProperties
      summary: List Event Forwarding Properties
      description: >-
        Retrieve properties for a company, filtering by platform=edge to get
        event forwarding properties specifically.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/companyId'
      - name: filter[platform]
        in: query
        required: true
        schema:
          type: string
          enum:
          - edge
        description: Filter to edge platform for event forwarding properties.
        example: edge
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of event forwarding properties.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertyListResponse'

              examples:
                Listeventforwardingproperties200Example:
                  summary: Default listEventForwardingProperties 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: properties
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingProperty
      summary: Create an Event Forwarding Property
      description: Create a new edge property for event forwarding.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
            examples:
              CreateeventforwardingpropertyRequestExample:
                summary: Default createEventForwardingProperty request
                x-microcks-default: true
                value:
                  data:
                    type: properties
                    attributes:
                      name: Example Title
                      platform: edge
      responses:
        '201':
          description: Event forwarding property created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Createeventforwardingproperty201Example:
                  summary: Default createEventForwardingProperty 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}:
    get:
      operationId: getEventForwardingProperty
      summary: Retrieve an Event Forwarding Property
      description: Look up a specific event forwarding property by its ID.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Geteventforwardingproperty200Example:
                  summary: Default getEventForwardingProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateEventForwardingProperty
      summary: Update an Event Forwarding Property
      description: Update the attributes of an event forwarding property.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateRequest'
            examples:
              UpdateeventforwardingpropertyRequestExample:
                summary: Default updateEventForwardingProperty request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: properties
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '200':
          description: Property updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Updateeventforwardingproperty200Example:
                  summary: Default updateEventForwardingProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEventForwardingProperty
      summary: Delete an Event Forwarding Property
      description: Remove an event forwarding property. Returns HTTP 204 on success.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '204':
          description: Property deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

  # Rules for Event Forwarding
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/rules:
    get:
      operationId: listEventForwardingRules
      summary: List Event Forwarding Rules
      description: Retrieve all rules for an event forwarding property.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of event forwarding rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'

              examples:
                Listeventforwardingrules200Example:
                  summary: Default listEventForwardingRules 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      attributes: {}
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingRule
      summary: Create an Event Forwarding Rule
      description: Create a new rule for server-side event processing.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleCreateRequest'
            examples:
              CreateeventforwardingruleRequestExample:
                summary: Default createEventForwardingRule request
                x-microcks-default: true
                value:
                  data:
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '201':
          description: Rule created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Createeventforwardingrule201Example:
                  summary: Default createEventForwardingRule 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}:
    get:
      operationId: getEventForwardingRule
      summary: Retrieve an Event Forwarding Rule
      description: Look up a specific event forwarding rule by its ID.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Geteventforwardingrule200Example:
                  summary: Default getEventForwardingRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateEventForwardingRule
      summary: Update an Event Forwarding Rule
      description: Modify an event forwarding rule's attributes.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleUpdateRequest'
            examples:
              UpdateeventforwardingruleRequestExample:
                summary: Default updateEventForwardingRule request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '200':
          description: Rule updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Updateeventforwardingrule200Example:
                  summary: Default updateEventForwardingRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      attributes:
                        name: Example Title
                        enabled: true
                        published: true
                        dirty: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEventForwardingRule
      summary: Delete an Event Forwarding Rule
      description: Remove an event forwarding rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '204':
          description: Rule deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

  # Data Elements for Event Forwarding
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/data_elements:
    get:
      operationId: listEventForwardingDataElements
      summary: List Event Forwarding Data Elements
      description: Retrieve data elements for an event forwarding property.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[name]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[enabled]
        in: query
        schema:
          type: boolean
        example: true
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of data elements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'

              examples:
                Listeventforwardingdataelements200Example:
                  summary: Default listEventForwardingDataElements 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      attributes: {}
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingDataElement
      summary: Create an Event Forwarding Data Element
      description: Create a new data element for event forwarding.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DataElementCreateRequest'
            examples:
              CreateeventforwardingdataelementRequestExample:
                summary: Default createEventForwardingDataElement request
                x-microcks-default: true
                value:
                  data:
                    type: data_elements
                    attributes:
                      name: Example Title
                      delegate_descriptor_id: '500123'
                      settings: example_value
                      enabled: true
                    relationships:
                      extension:
                        data: {}
      responses:
        '201':
          description: Data element created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Createeventforwardingdataelement201Example:
                  summary: Default createEventForwardingDataElement 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      attributes:
                        name: Example Title
                        delegate_descriptor_id: '500123'
                        settings: example_value
                        enabled: true
                        created_at: '2026-01-15T10:30:00Z'
                        updated_at: '2026-01-15T10:30:00Z'
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # Secrets (unique to event forwarding)
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/secrets:
    get:
      operationId: listSecrets
      summary: List Secrets for a Property
      description: >-
        Retrieve all secrets for an event forwarding property. Secrets enable
        event forwarding rules to authenticate with external services.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: filter[created_at]
        in: query
        schema:
          type: string
        example: example_value
      - name: filter[updated_at]
        in: query
        schema:
          type: string
        example: example_value
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of secrets.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'

              examples:
                Listsecrets200Example:
                  summary: Default listSecrets 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: secrets
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSecret
      summary: Create a Secret
      description: >-
        Create a new secret for authenticating with an external service.
        Secrets are scoped to a specific environment and support multiple
        credential types: token, simple-http, oauth2, and oauth2-google.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SecretCreateRequest'
            examples:
              CreatesecretRequestExample:
                summary: Default createSecret request
                x-microcks-default: true
                value:
                  data:
                    type: secrets
                    attributes:
                      name: Example Title
                      type_of: token
                      credentials: example_value
                    relationships:
                      environment:
                        data: {}
      responses:
        '201':
          description: Secret created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretSingleResponse'
              examples:
                Createsecret201Example:
                  summary: Default createSecret 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: secrets
                      relationships: {}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /environments/{environmentId}/secrets:
    get:
      operationId: listSecretsForEnvironment
      summary: List Secrets for an Environment
      description: Retrieve all secrets scoped to a specific environment.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/environmentId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of secrets.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretListResponse'

              examples:
                Listsecretsforenvironment200Example:
                  summary: Default listSecretsForEnvironment 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: secrets
                      relationships: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /secrets/{secretId}:
    get:
      operationId: getSecret
      summary: Retrieve a Secret
      description: Look up a specific secret by its ID.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: Secret details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretSingleResponse'
              examples:
                Getsecret200Example:
                  summary: Default getSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: secrets
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateSecret
      summary: Update a Secret
      description: >-
        Test, retry, or reauthorize a secret. Use meta.action to specify
        the operation: test (trigger exchange), retry (re-exchange after
        failure), or reauthorize (for oauth2-google secrets).
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/SecretUpdateRequest'
            examples:
              UpdatesecretRequestExample:
                summary: Default updateSecret request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: secrets
                    meta:
                      action: test
      responses:
        '200':
          description: Secret updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/SecretSingleResponse'
              examples:
                Updatesecret200Example:
                  summary: Default updateSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: secrets
                      relationships: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSecret
      summary: Delete a Secret
      description: >-
        Remove a secret permanently. Immediately disables any rules referencing
        this secret.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '204':
          description: Secret deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /secrets/{secretId}/environment:
    get:
      operationId: getEnvironmentForSecret
      summary: Get the Environment for a Secret
      description: Retrieve the environment to which a secret is scoped.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'

              examples:
                Getenvironmentforsecret200Example:
                  summary: Default getEnvironmentForSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      attributes:
                        name: Example Title
                        stage: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /secrets/{secretId}/property:
    get:
      operationId: getPropertyForSecret
      summary: Get the Property for a Secret
      description: Retrieve the property that owns the specified secret.
      tags:
      - Secrets
      parameters:
      - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'

  # Extensions for Event Forwarding
              examples:
                Getpropertyforsecret200Example:
                  summary: Default getPropertyForSecret 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/extensions:
    get:
      operationId: listEventForwardingExtensions
      summary: List Event Forwarding Extensions
      description: Retrieve extensions installed in an event forwarding property.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'

  # Libraries and Builds for Event Forwarding
              examples:
                Listeventforwardingextensions200Example:
                  summary: Default listEventForwardingExtensions 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      attributes:
                        name: Example Title
                        display_name: example_value
                        version: example_value
                        enabled: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/libraries:
    get:
      operationId: listEventForwardingLibraries
      summary: List Event Forwarding Libraries
      description: Retrieve libraries for an event forwarding property.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'

              examples:
                Listeventforwardinglibraries200Example:
                  summary: Default listEventForwardingLibraries 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEventForwardingLibrary
      summary: Create an Event Forwarding Library
      description: Create a new library for event forwarding deployment.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryCreateRequest'
            examples:
              CreateeventforwardinglibraryRequestExample:
                summary: Default createEventForwardingLibrary request
                x-microcks-default: true
                value:
                  data:
                    type: libraries
                    attributes:
                      name: Example Title
      responses:
        '201':
          description: Library created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Createeventforwardinglibrary201Example:
                  summary: Default createEventForwardingLibrary 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      attributes:
                        name: Example Title
                        state: example_value
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # Environments for Event Forwarding
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/environments:
    get:
      operationId: listEventForwardingEnvironments
      summary: List Event Forwarding Environments
      description: Retrieve environments for an event forwarding property.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - name: page[number]
        in: query
        schema:
          type: integer
          minimum: 1
        example: 10
      - name: page[size]
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        example: 10
      responses:
        '200':
          description: A list of environments.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'

              examples:
                Listeventforwardingenvironments200Example:
                  summary: Default listEventForwardingEnvironments 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: environments
                      attributes:
                        name: Example Title
                        stage: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        OAuth 2.0 Server-to-Server access token obtained from Adobe Developer
        Console.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.

  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a company.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.
    ruleId:
      name: ruleId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a rule.
    secretId:
      name: secretId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a secret.
    environmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for an environment.

  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              title:
                type: string
              detail:
                type: string

          example: []
    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer

          example: example_value
    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
          example: example_value
        links:
          type: object
          properties:
            related:
              type: string
              format: uri

    # Property
          example: example_value
    PropertyAttributes:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        platform:
          type: string
          enum:
          - edge
          description: Always edge for event forwarding properties.
          example: edge
        enabled:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time

          example: '2026-01-15T10:30:00Z'
    PropertyResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum: [properties]
          example: properties
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        relationships:
          type: object
          properties:
            company:
              $ref: '#/components/schemas/Relationship'
            rules:
              $ref: '#/components/schemas/Relationship'
            data_elements:
              $ref: '#/components/schemas/Relationship'
            extensions:
              $ref: '#/components/schemas/Relationship'
            environments:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            secrets:
              $ref: '#/components/schemas/Relationship'

          example: example_value
    PropertyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PropertyResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PropertySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PropertyResource'

    PropertyCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum: [properties]
            attributes:
              type: object
              required:
              - name
              - platform
              properties:
                name:
                  type: string
                platform:
                  type: string
                  enum:
                  - edge

          example: example_value
    PropertyUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum: [properties]
            attributes:
              type: object
              properties:
                name:
                  type: string
                enabled:
                  type: boolean

    # Rule
          example: example_value
    RuleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RuleResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    RuleSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RuleResource'

    RuleResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum: [rules]
          example: rules
        attributes:
          type: object
          properties:
            name:
              type: string
            enabled:
              type: boolean
            published:
              type: boolean
            dirty:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          example: example_value
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            rule_components:
              $ref: '#/components/schemas/Relationship'

          example: example_value
    RuleCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum: [rules]
            attributes:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                enabled:
                  type: boolean

          example: example_value
    RuleUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum: [rules]
            attributes:
              type: object
              properties:
                name:
                  type: string
                enabled:
                  type: boolean

    # Data Element
          example: example_value
    DataElementListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataElementResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    DataElementSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataElementResource'

    DataElementResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum: [data_elements]
          example: data_elements
        attributes:
          type: object
          properties:
            name:
              type: string
            delegate_descriptor_id:
              type: string
            settings:
              type: string
            enabled:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          example: example_value
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension:
              $ref: '#/components/schemas/Relationship'

          example: example_value
    DataElementCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum: [data_elements]
            attributes:
              type: object
              required:
              - name
              - delegate_descriptor_id
              properties:
                name:
                  type: string
                delegate_descriptor_id:
                  type: string
                settings:
                  type: string
                enabled:
                  type: boolean
            relationships:
              type: object
              properties:
                extension:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum: [extensions]
          example: example_value

    # Secret
    SecretAttributes:
      type: object
      properties:
        name:
          type: string
          description: The name of the secret.
          example: Example Title
        type_of:
          type: string
          enum:
          - token
          - simple-http
          - oauth2
          - oauth2-google
          description: The type of secret credential.
          example: token
        status:
          type: string
          enum:
          - pending
          - succeeded
          - failed
          description: The exchange status of the secret.
          example: pending
        credentials:
          type: object
          description: >-
            The credential payload. Structure varies by type_of:
            token (token string), simple-http (username/password),
            oauth2 (client_id/client_secret/token_url), oauth2-google
            (scopes/authorization).
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updated_at:
          type: string
          format: date-time

          example: '2026-01-15T10:30:00Z'
    SecretResource:
      type: object
      properties:
        id:
          type: string
          example: abc123
        type:
          type: string
          enum: [secrets]
          example: secrets
        attributes:
          $ref: '#/components/schemas/SecretAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            environment:
              $ref: '#/components/schemas/Relationship'

          example: example_value
    SecretListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecretResource'
          example: []
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    SecretSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SecretResource'

    SecretCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          - relationships
          properties:
            type:
              type: string
              enum: [secrets]
            attributes:
              type: object
              required:
              - name
              - type_of
              properties:
                name:
                  type: string
                type_of:
                  type: string
                  enum:
                  - token
                  - simple-http
                  - oauth2
                  - oauth2-google
                credentials:
                  type: object
                  description: Credential payload matching the secret type.
            relationships:
              type: object
              required:
              - environment
              properties:
                environment:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - id
                      - type
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum: [environments]
          example: example_value

    SecretUpdateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - type
          properties:
            id:
              type: string
            type:
              type: string
              enum: [secrets]
            meta:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - test
                  - retry
                  - reauthorize
                  description: >-
                    Action to perform: test triggers the credential exchange,
                    retry re-exchanges after failure, reauthorize refreshes
                    oauth2-google tokens.

    # Extension (referenced)
          example: example_value
    ExtensionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum: [extensions]
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  display_name:
                    type: string
                  version:
                    type: string
                  enabled:
                    type: boolean

    # Library (referenced)
          example: []
    LibraryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum: [libraries]
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string

          example: []
    LibrarySingleResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum: [libraries]
            attributes:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: string

          example: example_value
    LibraryCreateRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              enum: [libraries]
            attributes:
              type: object
              required:
              - name
              properties:
                name:
                  type: string

    # Environment (referenced)
          example: example_value
    EnvironmentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum: [environments]
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  stage:
                    type: string

          example: []
    EnvironmentSingleResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum: [environments]
            attributes:
              type: object
              properties:
                name:
                  type: string
                stage:
                  type: string

          example: example_value
tags:
- name: Properties
  description: Manage event forwarding properties (edge platform).
- name: Rules
  description: Manage server-side event forwarding rules.
- name: Data Elements
  description: Manage data elements for server-side event processing.
- name: Secrets
  description: >-
    Manage secrets for authenticating event forwarding rules with external
    systems. Supports token, simple-http, oauth2, and oauth2-google types.
- name: Extensions
  description: Manage extensions installed in event forwarding properties.
- name: Libraries
  description: Manage libraries for event forwarding deployment.
- name: Environments
  description: Manage environments for event forwarding builds.
