openapi: 3.1.0
info:
  title: Adobe Launch Extension API
  description: >-
    API for developing and managing custom extensions for Adobe Experience
    Platform Tags. Extensions are the building blocks of tags and consist of
    library modules and views. This API provides endpoints for managing
    extension packages, their versions, and the extension development lifecycle.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html

servers:
  - url: https://reactor.adobe.io
    description: Adobe Reactor API Production Server

security:
  - bearerAuth: []
    apiKey: []
    orgId: []

paths:
  # Extension Packages
  /extension_packages:
    get:
      operationId: listExtensionPackages
      summary: List extension packages
      description: >-
        Retrieve all extension packages you have access to, with optional
        filtering by archive status, name, stage, and date fields.
      tags:
        - Extension Packages
      parameters:
        - name: filter[name]
          in: query
          schema:
            type: string
          description: Filter by extension package name.
        - name: filter[platform]
          in: query
          schema:
            type: string
            enum:
              - web
              - mobile
              - edge
          description: Filter by platform type.
        - name: filter[availability]
          in: query
          schema:
            type: string
            enum:
              - development
              - private
              - public
          description: Filter by availability status.
        - name: filter[created_at]
          in: query
          schema:
            type: string
          description: Filter by creation date.
        - name: filter[updated_at]
          in: query
          schema:
            type: string
          description: Filter by last updated date.
        - name: page[number]
          in: query
          schema:
            type: integer
            minimum: 1
          description: Page number for pagination.
        - name: page[size]
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Number of results per page.
      responses:
        '200':
          description: A list of extension packages.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageListResponse'

    post:
      operationId: createExtensionPackage
      summary: Create an extension package
      description: >-
        Upload a new extension package as a ZIP file using multipart form data.
        The package must include a valid extension.json manifest.
      tags:
        - Extension Packages
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - package
              properties:
                package:
                  type: string
                  format: binary
                  description: >-
                    The extension package ZIP file containing the extension.json
                    manifest, library modules, and views.
      responses:
        '201':
          description: Extension package created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /extension_packages/{extensionPackageId}:
    get:
      operationId: getExtensionPackage
      summary: Retrieve an extension package
      description: Look up a specific extension package by its ID.
      tags:
        - Extension Packages
      parameters:
        - $ref: '#/components/parameters/extensionPackageId'
      responses:
        '200':
          description: Extension package details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateExtensionPackage
      summary: Update an extension package
      description: >-
        Update an existing extension package by uploading a new ZIP file.
        Can also be used to release privately (meta.action = release_private)
        or discontinue a package (setting discontinued = true).
      tags:
        - Extension Packages
      parameters:
        - $ref: '#/components/parameters/extensionPackageId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package:
                  type: string
                  format: binary
                  description: The updated extension package ZIP file.
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionPackageUpdateRequest'
      responses:
        '200':
          description: Extension package updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /extension_packages/{extensionPackageId}/versions:
    get:
      operationId: listVersionsForExtensionPackage
      summary: List versions for an extension package
      description: Retrieve all previous versions of an extension package.
      tags:
        - Extension Packages
      parameters:
        - $ref: '#/components/parameters/extensionPackageId'
        - name: page[number]
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page[size]
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: A list of extension package versions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageListResponse'

  # Extensions (installed instances)
  /properties/{propertyId}/extensions:
    get:
      operationId: listExtensionsForProperty
      summary: List extensions for a property
      description: Retrieve all installed extension instances for a property.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/propertyId'
        - name: filter[name]
          in: query
          schema:
            type: string
        - name: filter[display_name]
          in: query
          schema:
            type: string
        - name: filter[enabled]
          in: query
          schema:
            type: boolean
        - name: filter[version]
          in: query
          schema:
            type: string
        - name: filter[created_at]
          in: query
          schema:
            type: string
        - name: filter[updated_at]
          in: query
          schema:
            type: string
        - name: page[number]
          in: query
          schema:
            type: integer
            minimum: 1
        - name: page[size]
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: A list of installed extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'

    post:
      operationId: installExtension
      summary: Install an extension
      description: >-
        Install a new extension from an extension package into a property.
        Requires a relationship to the source extension package.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionInstallRequest'
      responses:
        '201':
          description: Extension installed successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /extensions/{extensionId}:
    get:
      operationId: getExtension
      summary: Retrieve an extension
      description: >-
        Look up a specific installed extension by its ID. Deleted extensions
        remain retrievable and are identified by a deleted_at attribute.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: reviseExtension
      summary: Revise an extension
      description: >-
        Create a new revision of an installed extension by updating its
        settings. Requires meta.action set to revise.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionReviseRequest'
      responses:
        '200':
          description: Extension revised successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      operationId: deleteExtension
      summary: Delete an extension
      description: Remove an installed extension. Returns HTTP 204 on success.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '204':
          description: Extension deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

  /extensions/{extensionId}/extension_package:
    get:
      operationId: getExtensionPackageForExtension
      summary: Get the extension package for an extension
      description: Retrieve the base extension package of an installed extension.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Extension package details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'

  /extensions/{extensionId}/revisions:
    get:
      operationId: listRevisionsForExtension
      summary: List revisions for an extension
      description: Retrieve the version history for an installed extension.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: A list of extension revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'

  /extensions/{extensionId}/libraries:
    get:
      operationId: listLibrariesForExtension
      summary: List libraries for an extension
      description: Retrieve libraries that include the specified extension.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'

  /extensions/{extensionId}/origin:
    get:
      operationId: getOriginForExtension
      summary: Get the origin for an extension
      description: Retrieve the previous revision of an extension.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Origin extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'

  /extensions/{extensionId}/property:
    get:
      operationId: getPropertyForExtension
      summary: Get the property for an extension
      description: Retrieve the property that owns the specified extension.
      tags:
        - Extensions
      parameters:
        - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        OAuth 2.0 Server-to-Server access token obtained from Adobe Developer
        Console. Tokens expire every 24 hours.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID credential from Adobe Developer Console.
    orgId:
      type: apiKey
      in: header
      name: x-gw-ims-org-id
      description: Adobe Organization ID.

  parameters:
    extensionPackageId:
      name: extensionPackageId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for an extension package.
    extensionId:
      name: extensionId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for an installed extension.
    propertyId:
      name: propertyId
      in: path
      required: true
      schema:
        type: string
      description: The unique identifier for a property.

  responses:
    BadRequest:
      description: The request was malformed or invalid.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: The request body contains validation errors.
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string

    PaginationMeta:
      type: object
      properties:
        pagination:
          type: object
          properties:
            current_page:
              type: integer
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
            total_count:
              type: integer

    Relationship:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
        links:
          type: object
          properties:
            related:
              type: string
              format: uri

    # Extension Package
    ExtensionPackageAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension package.
        display_name:
          type: string
          description: The human-readable display name.
        description:
          type: string
          description: A description of the extension package capabilities.
        version:
          type: string
          description: The current version using semantic versioning.
        platform:
          type: string
          enum:
            - web
            - mobile
            - edge
          description: The platform the extension supports.
        author:
          type: object
          properties:
            name:
              type: string
            url:
              type: string
              format: uri
            email:
              type: string
              format: email
          description: Information about the extension package author.
        availability:
          type: string
          enum:
            - development
            - private
            - public
          description: The availability level of the extension package.
        discontinued:
          type: boolean
          description: Whether the extension package has been discontinued.
        status:
          type: string
          description: The current processing status.
        exchange_url:
          type: string
          format: uri
          description: The URL on Adobe Exchange for public extensions.
        icon_path:
          type: string
          description: Path to the extension icon within the package.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ExtensionPackageResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [extension_packages]
        attributes:
          $ref: '#/components/schemas/ExtensionPackageAttributes'
        relationships:
          type: object
          properties:
            versions:
              $ref: '#/components/schemas/Relationship'
        links:
          type: object
          properties:
            self:
              type: string
              format: uri

    ExtensionPackageListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionPackageResource'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ExtensionPackageSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionPackageResource'

    ExtensionPackageUpdateRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - type
          properties:
            id:
              type: string
            type:
              type: string
              enum: [extension_packages]
            attributes:
              type: object
              properties:
                discontinued:
                  type: boolean
            meta:
              type: object
              properties:
                action:
                  type: string
                  enum:
                    - release_private

    # Extension (installed instance)
    ExtensionAttributes:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the extension.
        display_name:
          type: string
          description: The human-readable display name.
        version:
          type: string
          description: The version of the installed extension.
        delegate_descriptor_id:
          type: string
          description: The descriptor ID for the extension configuration.
        settings:
          type: string
          description: A JSON-encoded string of configuration settings.
        enabled:
          type: boolean
          description: Whether the extension is enabled.
        published:
          type: boolean
        dirty:
          type: boolean
        revision_number:
          type: integer
        deleted_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ExtensionResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [extensions]
        attributes:
          $ref: '#/components/schemas/ExtensionAttributes'
        relationships:
          type: object
          properties:
            property:
              $ref: '#/components/schemas/Relationship'
            extension_package:
              $ref: '#/components/schemas/Relationship'
            libraries:
              $ref: '#/components/schemas/Relationship'
            revisions:
              $ref: '#/components/schemas/Relationship'
            origin:
              $ref: '#/components/schemas/Relationship'
        links:
          type: object
          properties:
            self:
              type: string
              format: uri

    ExtensionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionResource'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ExtensionSingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionResource'

    ExtensionInstallRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - type
            - relationships
          properties:
            type:
              type: string
              enum: [extensions]
            attributes:
              type: object
              properties:
                delegate_descriptor_id:
                  type: string
                settings:
                  type: string
                enabled:
                  type: boolean
            relationships:
              type: object
              required:
                - extension_package
              properties:
                extension_package:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                        - id
                        - type
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum: [extension_packages]

    ExtensionReviseRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - type
          properties:
            id:
              type: string
            type:
              type: string
              enum: [extensions]
            attributes:
              type: object
              properties:
                delegate_descriptor_id:
                  type: string
                settings:
                  type: string
                enabled:
                  type: boolean
            meta:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - revise

    # Property (referenced)
    PropertySingleResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum: [properties]
            attributes:
              type: object
              properties:
                name:
                  type: string
                platform:
                  type: string
                enabled:
                  type: boolean
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time

    # Library (referenced)
    LibraryListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum: [libraries]
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time

tags:
  - name: Extension Packages
    description: >-
      Manage extension packages that define capabilities, library modules,
      and views available to Adobe Experience Platform Tags users.
  - name: Extensions
    description: >-
      Manage installed extension instances within properties, including
      installation, configuration, and revision management.
