openapi: 3.1.0
info:
  title: Adobe Launch Reactor API
  description: >-
    The Reactor API allows you to programmatically manage all resources for
    Adobe Experience Platform Tags, including properties, data elements, rules,
    extensions, library builds, and environments. It follows the JSON:API
    specification for request and response formatting.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://experienceleague.adobe.com/?support-solution=Experience+Platform
  license:
    name: Adobe Terms of Service
    url: https://www.adobe.com/legal/terms.html
  termsOfService: https://www.adobe.com/legal/terms.html

servers:
- url: https://reactor.adobe.io
  description: Adobe Reactor API Production Server

security:
- bearerAuth: []
  apiKey: []
  orgId: []

paths:
  # Companies
  /companies:
    get:
      operationId: listCompanies
      summary: List Companies
      description: Retrieve all companies you have access to.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of companies.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanyListResponse'

              examples:
                Listcompanies200Example:
                  summary: Default listCompanies 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: companies
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies/{companyId}:
    get:
      operationId: getCompany
      summary: Retrieve a Company
      description: Look up details for a specific company by its ID.
      tags:
      - Companies
      parameters:
      - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: Company details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanySingleResponse'
              examples:
                Getcompany200Example:
                  summary: Default getCompany 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: companies
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'

  # Properties
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /companies/{companyId}/properties:
    get:
      operationId: listPropertiesForCompany
      summary: List Properties for a Company
      description: Retrieve a list of properties belonging to a company.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterEnabled'
      - $ref: '#/components/parameters/filterPlatform'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of properties.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertyListResponse'
              examples:
                Listpropertiesforcompany200Example:
                  summary: Default listPropertiesForCompany 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: properties
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createProperty
      summary: Create a Property
      description: Create a new property under the specified company.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
            examples:
              CreatepropertyRequestExample:
                summary: Default createProperty request
                x-microcks-default: true
                value:
                  data:
                    type: properties
                    attributes:
                      name: Example Title
                      platform: web
                      domains:
                      - {}
                      privacy: optin
                      ssl_enabled: true
                      development: true
                      rule_component_sequencing_enabled: true
                      undefined_vars_return_empty: true
      responses:
        '201':
          description: Property created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Createproperty201Example:
                  summary: Default createProperty 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}:
    get:
      operationId: getProperty
      summary: Retrieve a Property
      description: Look up details for a specific property by its ID.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Getproperty200Example:
                  summary: Default getProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateProperty
      summary: Update a Property
      description: Update the editable attributes of a property.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateRequest'
            examples:
              UpdatepropertyRequestExample:
                summary: Default updateProperty request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: properties
                    attributes:
                      name: Example Title
                      domains:
                      - {}
                      privacy: optin
                      ssl_enabled: true
                      development: true
                      rule_component_sequencing_enabled: true
                      undefined_vars_return_empty: true
      responses:
        '200':
          description: Property updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'
              examples:
                Updateproperty200Example:
                  summary: Default updateProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteProperty
      summary: Delete a Property
      description: Remove a property. Returns HTTP 204 on success.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '204':
          description: Property deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/company:
    get:
      operationId: getCompanyForProperty
      summary: Get the Company for a Property
      description: Retrieve the company that owns the specified property.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/propertyId'
      responses:
        '200':
          description: Company details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CompanySingleResponse'

  # Rules
              examples:
                Getcompanyforproperty200Example:
                  summary: Default getCompanyForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: companies
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/rules:
    get:
      operationId: listRulesForProperty
      summary: List Rules for a Property
      description: Retrieve all rules belonging to a property.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterEnabled'
      - $ref: '#/components/parameters/filterPublished'
      - $ref: '#/components/parameters/filterDirty'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'
              examples:
                Listrulesforproperty200Example:
                  summary: Default listRulesForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createRule
      summary: Create a Rule
      description: Create a new rule under the specified property.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleCreateRequest'
            examples:
              CreateruleRequestExample:
                summary: Default createRule request
                x-microcks-default: true
                value:
                  data:
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '201':
          description: Rule created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Createrule201Example:
                  summary: Default createRule 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}:
    get:
      operationId: getRule
      summary: Retrieve a Rule
      description: Look up a specific rule by its ID.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Getrule200Example:
                  summary: Default getRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateRule
      summary: Update a Rule
      description: Modify rule attributes.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleUpdateRequest'
            examples:
              UpdateruleRequestExample:
                summary: Default updateRule request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: rules
                    attributes:
                      name: Example Title
                      enabled: true
      responses:
        '200':
          description: Rule updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'
              examples:
                Updaterule200Example:
                  summary: Default updateRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteRule
      summary: Delete a Rule
      description: Remove a rule. Returns HTTP 204 on success.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '204':
          description: Rule deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/libraries:
    get:
      operationId: listLibrariesForRule
      summary: List Libraries for a Rule
      description: Retrieve libraries that use the specified rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'

              examples:
                Listlibrariesforrule200Example:
                  summary: Default listLibrariesForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/revisions:
    get:
      operationId: listRevisionsForRule
      summary: List Revisions for a Rule
      description: Retrieve the revision history for a rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: A list of rule revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'

              examples:
                Listrevisionsforrule200Example:
                  summary: Default listRevisionsForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/origin:
    get:
      operationId: getOriginForRule
      summary: Get the Origin for a Rule
      description: Retrieve the previous revision of a rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Origin rule details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingleResponse'

              examples:
                Getoriginforrule200Example:
                  summary: Default getOriginForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rules
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/property:
    get:
      operationId: getPropertyForRule
      summary: Get the Property for a Rule
      description: Retrieve the property that owns the specified rule.
      tags:
      - Rules
      parameters:
      - $ref: '#/components/parameters/ruleId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'

  # Rule Components
              examples:
                Getpropertyforrule200Example:
                  summary: Default getPropertyForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/rule_components:
    post:
      operationId: createRuleComponent
      summary: Create a Rule Component
      description: Create a new rule component (event, condition, or action) under the specified property.
      tags:
      - Rule Components
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleComponentCreateRequest'
            examples:
              CreaterulecomponentRequestExample:
                summary: Default createRuleComponent request
                x-microcks-default: true
                value:
                  data:
                    type: rule_components
                    attributes:
                      name: Example Title
                      delegate_descriptor_id: '500123'
                      order: 10
                      settings: example_value
                      timeout: 10
                      delay_next: true
                      negate: true
                    relationships:
                      rules:
                        data: {}
                      extension:
                        data: {}
      responses:
        '201':
          description: Rule component created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentSingleResponse'
              examples:
                Createrulecomponent201Example:
                  summary: Default createRuleComponent 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rule_components
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rules/{ruleId}/rule_components:
    get:
      operationId: listRuleComponentsForRule
      summary: List Rule Components for a Rule
      description: Retrieve all components belonging to a rule.
      tags:
      - Rule Components
      parameters:
      - $ref: '#/components/parameters/ruleId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterEnabled'
      - $ref: '#/components/parameters/filterPublished'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of rule components.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentListResponse'

              examples:
                Listrulecomponentsforrule200Example:
                  summary: Default listRuleComponentsForRule 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rule_components
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rule_components/{ruleComponentId}:
    get:
      operationId: getRuleComponent
      summary: Retrieve a Rule Component
      description: Look up a specific rule component by its ID.
      tags:
      - Rule Components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      responses:
        '200':
          description: Rule component details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentSingleResponse'
              examples:
                Getrulecomponent200Example:
                  summary: Default getRuleComponent 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rule_components
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateRuleComponent
      summary: Update a Rule Component
      description: Modify a rule component's attributes.
      tags:
      - Rule Components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RuleComponentUpdateRequest'
            examples:
              UpdaterulecomponentRequestExample:
                summary: Default updateRuleComponent request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: rule_components
                    attributes:
                      name: Example Title
                      order: 10
                      settings: example_value
                      timeout: 10
                      delay_next: true
                      negate: true
      responses:
        '200':
          description: Rule component updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleComponentSingleResponse'
              examples:
                Updaterulecomponent200Example:
                  summary: Default updateRuleComponent 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: rule_components
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteRuleComponent
      summary: Delete a Rule Component
      description: Remove a rule component. Returns HTTP 204 on success.
      tags:
      - Rule Components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      responses:
        '204':
          description: Rule component deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rule_components/{ruleComponentId}/extension:
    get:
      operationId: getExtensionForRuleComponent
      summary: Get the Extension for a Rule Component
      description: Retrieve the extension that provides the specified rule component.
      tags:
      - Rule Components
      parameters:
      - $ref: '#/components/parameters/ruleComponentId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'

  # Data Elements
              examples:
                Getextensionforrulecomponent200Example:
                  summary: Default getExtensionForRuleComponent 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/data_elements:
    get:
      operationId: listDataElementsForProperty
      summary: List Data Elements for a Property
      description: Retrieve all data elements belonging to a property.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterEnabled'
      - $ref: '#/components/parameters/filterPublished'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of data elements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'
              examples:
                Listdataelementsforproperty200Example:
                  summary: Default listDataElementsForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDataElement
      summary: Create a Data Element
      description: Create a new data element under the specified property.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DataElementCreateRequest'
            examples:
              CreatedataelementRequestExample:
                summary: Default createDataElement request
                x-microcks-default: true
                value:
                  data:
                    type: data_elements
                    attributes:
                      name: Example Title
                      delegate_descriptor_id: '500123'
                      default_value: example_value
                      settings: example_value
                      storage_duration: pageview
                      force_lower_case: true
                      clean_text: true
                      enabled: true
                    relationships:
                      extension:
                        data: {}
      responses:
        '201':
          description: Data element created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Createdataelement201Example:
                  summary: Default createDataElement 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}:
    get:
      operationId: getDataElement
      summary: Retrieve a Data Element
      description: Look up a specific data element by its ID.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: Data element details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Getdataelement200Example:
                  summary: Default getDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateDataElement
      summary: Update a Data Element
      description: Modify a data element's attributes.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DataElementUpdateRequest'
            examples:
              UpdatedataelementRequestExample:
                summary: Default updateDataElement request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: data_elements
                    attributes:
                      name: Example Title
                      default_value: example_value
                      settings: example_value
                      storage_duration: pageview
                      force_lower_case: true
                      clean_text: true
                      enabled: true
      responses:
        '200':
          description: Data element updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementSingleResponse'
              examples:
                Updatedataelement200Example:
                  summary: Default updateDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: data_elements
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteDataElement
      summary: Delete a Data Element
      description: Remove a data element. Returns HTTP 204 on success.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '204':
          description: Data element deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}/revisions:
    get:
      operationId: listRevisionsForDataElement
      summary: List Revisions for a Data Element
      description: Retrieve the revision history for a data element.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: A list of data element revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'

              examples:
                Listrevisionsfordataelement200Example:
                  summary: Default listRevisionsForDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}/extension:
    get:
      operationId: getExtensionForDataElement
      summary: Get the Extension for a Data Element
      description: Retrieve the extension associated with the specified data element.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'

              examples:
                Getextensionfordataelement200Example:
                  summary: Default getExtensionForDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /data_elements/{dataElementId}/property:
    get:
      operationId: getPropertyForDataElement
      summary: Get the Property for a Data Element
      description: Retrieve the property that owns the specified data element.
      tags:
      - Data Elements
      parameters:
      - $ref: '#/components/parameters/dataElementId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'

  # Extensions
              examples:
                Getpropertyfordataelement200Example:
                  summary: Default getPropertyForDataElement 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/extensions:
    get:
      operationId: listExtensionsForProperty
      summary: List Extensions for a Property
      description: Retrieve all extensions installed in a property.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterEnabled'
      - $ref: '#/components/parameters/filterPublished'
      - $ref: '#/components/parameters/filterDirty'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'
              examples:
                Listextensionsforproperty200Example:
                  summary: Default listExtensionsForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createExtension
      summary: Install an Extension
      description: Install a new extension in the specified property.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionCreateRequest'
            examples:
              CreateextensionRequestExample:
                summary: Default createExtension request
                x-microcks-default: true
                value:
                  data:
                    type: extensions
                    attributes:
                      delegate_descriptor_id: '500123'
                      settings: example_value
                      enabled: true
                    relationships:
                      extension_package:
                        data: {}
      responses:
        '201':
          description: Extension installed successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Createextension201Example:
                  summary: Default createExtension 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}:
    get:
      operationId: getExtension
      summary: Retrieve an Extension
      description: Look up a specific extension by its ID.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Extension details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Getextension200Example:
                  summary: Default getExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateExtension
      summary: Revise an Extension
      description: Update or revise an extension's attributes.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ExtensionUpdateRequest'
            examples:
              UpdateextensionRequestExample:
                summary: Default updateExtension request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: extensions
                    attributes:
                      delegate_descriptor_id: '500123'
                      settings: example_value
                      enabled: true
                    meta:
                      action: revise
      responses:
        '200':
          description: Extension updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionSingleResponse'
              examples:
                Updateextension200Example:
                  summary: Default updateExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extensions
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteExtension
      summary: Delete an Extension
      description: Remove an extension. Returns HTTP 204 on success.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '204':
          description: Extension deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/extension_package:
    get:
      operationId: getExtensionPackageForExtension
      summary: Get the Extension Package for an Extension
      description: Retrieve the extension package associated with the specified extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: Extension package details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'

              examples:
                Getextensionpackageforextension200Example:
                  summary: Default getExtensionPackageForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extension_packages
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extensions/{extensionId}/revisions:
    get:
      operationId: listRevisionsForExtension
      summary: List Revisions for an Extension
      description: Retrieve the revision history for an extension.
      tags:
      - Extensions
      parameters:
      - $ref: '#/components/parameters/extensionId'
      responses:
        '200':
          description: A list of extension revisions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'

  # Extension Packages
              examples:
                Listrevisionsforextension200Example:
                  summary: Default listRevisionsForExtension 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extension_packages:
    get:
      operationId: listExtensionPackages
      summary: List Extension Packages
      description: Retrieve all extension packages available to you.
      tags:
      - Extension Packages
      parameters:
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of extension packages.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageListResponse'
              examples:
                Listextensionpackages200Example:
                  summary: Default listExtensionPackages 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extension_packages
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createExtensionPackage
      summary: Create an Extension Package
      description: Upload a new extension package via multipart form data.
      tags:
      - Extension Packages
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package:
                  type: string
                  format: binary
                  description: The extension package ZIP file.
            examples:
              CreateextensionpackageRequestExample:
                summary: Default createExtensionPackage request
                x-microcks-default: true
                value:
                  package: example_value
      responses:
        '201':
          description: Extension package created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'

              examples:
                Createextensionpackage201Example:
                  summary: Default createExtensionPackage 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extension_packages
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extension_packages/{extensionPackageId}:
    get:
      operationId: getExtensionPackage
      summary: Retrieve an Extension Package
      description: Look up a specific extension package by its ID.
      tags:
      - Extension Packages
      parameters:
      - $ref: '#/components/parameters/extensionPackageId'
      responses:
        '200':
          description: Extension package details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'
              examples:
                Getextensionpackage200Example:
                  summary: Default getExtensionPackage 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extension_packages
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateExtensionPackage
      summary: Update an Extension Package
      description: >-
        Update an extension package. Also used to release privately or
        discontinue a package by setting the appropriate meta action.
      tags:
      - Extension Packages
      parameters:
      - $ref: '#/components/parameters/extensionPackageId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package:
                  type: string
                  format: binary
                  description: The updated extension package ZIP file.
            examples:
              UpdateextensionpackageRequestExample:
                summary: Default updateExtensionPackage request
                x-microcks-default: true
                value:
                  package: example_value
      responses:
        '200':
          description: Extension package updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageSingleResponse'
              examples:
                Updateextensionpackage200Example:
                  summary: Default updateExtensionPackage 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: extension_packages
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /extension_packages/{extensionPackageId}/versions:
    get:
      operationId: listVersionsForExtensionPackage
      summary: List Versions for an Extension Package
      description: Retrieve all previous versions of an extension package.
      tags:
      - Extension Packages
      parameters:
      - $ref: '#/components/parameters/extensionPackageId'
      responses:
        '200':
          description: A list of extension package versions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionPackageListResponse'

  # Libraries
              examples:
                Listversionsforextensionpackage200Example:
                  summary: Default listVersionsForExtensionPackage 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extension_packages
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/libraries:
    get:
      operationId: listLibrariesForProperty
      summary: List Libraries for a Property
      description: Retrieve a list of libraries belonging to a property.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of libraries.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibraryListResponse'
              examples:
                Listlibrariesforproperty200Example:
                  summary: Default listLibrariesForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: libraries
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createLibrary
      summary: Create a Library
      description: Create a new library under the specified property.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryCreateRequest'
            examples:
              CreatelibraryRequestExample:
                summary: Default createLibrary request
                x-microcks-default: true
                value:
                  data:
                    type: libraries
                    attributes:
                      name: Example Title
                    relationships:
                      environment:
                        data: {}
                      data_elements:
                        data: {}
                      extensions:
                        data: {}
                      rules:
                        data: {}
      responses:
        '201':
          description: Library created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Createlibrary201Example:
                  summary: Default createLibrary 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Retrieve a Library
      description: Look up a specific library by its ID.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Library details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Getlibrary200Example:
                  summary: Default getLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateLibrary
      summary: Update a Library
      description: Transition a library's publishing state or modify its attributes.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/LibraryUpdateRequest'
            examples:
              UpdatelibraryRequestExample:
                summary: Default updateLibrary request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: libraries
                    attributes:
                      name: Example Title
                    meta:
                      action: submit
      responses:
        '200':
          description: Library updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'
              examples:
                Updatelibrary200Example:
                  summary: Default updateLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/relationships/{resourceType}:
    post:
      operationId: addResourcesToLibrary
      summary: Add Resources to a Library
      description: Add data elements, extensions, or rules to a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              AddresourcestolibraryRequestExample:
                summary: Default addResourcesToLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '200':
          description: Resources added successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: replaceResourcesInLibrary
      summary: Replace Resources in a Library
      description: Replace the existing set of resources in a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              ReplaceresourcesinlibraryRequestExample:
                summary: Default replaceResourcesInLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '200':
          description: Resources replaced successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: removeResourcesFromLibrary
      summary: Remove Resources From a Library
      description: Remove data elements, extensions, or rules from a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/resourceType'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipRequest'
            examples:
              RemoveresourcesfromlibraryRequestExample:
                summary: Default removeResourcesFromLibrary request
                x-microcks-default: true
                value:
                  data:
                  - id: abc123
                    type: example_value
      responses:
        '204':
          description: Resources removed successfully.

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/relationships/environment:
    post:
      operationId: setEnvironmentForLibrary
      summary: Set Environment for a Library
      description: Assign a library to an environment for publishing.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RelationshipSingleRequest'
            examples:
              SetenvironmentforlibraryRequestExample:
                summary: Default setEnvironmentForLibrary request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: example_value
      responses:
        '200':
          description: Environment assigned successfully.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/builds:
    get:
      operationId: listBuildsForLibrary
      summary: List Builds for a Library
      description: Retrieve all builds for a specific library.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/libraryId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of builds.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildListResponse'
              examples:
                Listbuildsforlibrary200Example:
                  summary: Default listBuildsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: builds
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createBuild
      summary: Create a Build
      description: Compile a library into a build for deployment.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '201':
          description: Build created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildSingleResponse'

              examples:
                Createbuild201Example:
                  summary: Default createBuild 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: builds
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/data_elements:
    get:
      operationId: listDataElementsForLibrary
      summary: List Data Elements for a Library
      description: Retrieve data elements associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of data elements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DataElementListResponse'

              examples:
                Listdataelementsforlibrary200Example:
                  summary: Default listDataElementsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: data_elements
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/extensions:
    get:
      operationId: listExtensionsForLibrary
      summary: List Extensions for a Library
      description: Retrieve extensions associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of extensions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'

              examples:
                Listextensionsforlibrary200Example:
                  summary: Default listExtensionsForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: extensions
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/rules:
    get:
      operationId: listRulesForLibrary
      summary: List Rules for a Library
      description: Retrieve rules associated with a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: A list of rules.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'

              examples:
                Listrulesforlibrary200Example:
                  summary: Default listRulesForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: rules
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/environment:
    get:
      operationId: getEnvironmentForLibrary
      summary: Get the Environment for a Library
      description: Retrieve the environment assigned to a library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'

              examples:
                Getenvironmentforlibrary200Example:
                  summary: Default getEnvironmentForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /libraries/{libraryId}/property:
    get:
      operationId: getPropertyForLibrary
      summary: Get the Property for a Library
      description: Retrieve the property that owns the specified library.
      tags:
      - Libraries
      parameters:
      - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Property details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PropertySingleResponse'

  # Builds
              examples:
                Getpropertyforlibrary200Example:
                  summary: Default getPropertyForLibrary 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: properties
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /builds/{buildId}:
    get:
      operationId: getBuild
      summary: Retrieve a Build
      description: Look up a specific build by its ID.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Build details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildSingleResponse'
              examples:
                Getbuild200Example:
                  summary: Default getBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: builds
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: republishBuild
      summary: Republish a Build
      description: Republish an existing build.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Build republished successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildSingleResponse'
              examples:
                Republishbuild200Example:
                  summary: Default republishBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: builds
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /builds/{buildId}/environment:
    get:
      operationId: getEnvironmentForBuild
      summary: Get the Environment for a Build
      description: Retrieve the deployment environment for a build.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'

              examples:
                Getenvironmentforbuild200Example:
                  summary: Default getEnvironmentForBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /builds/{buildId}/library:
    get:
      operationId: getLibraryForBuild
      summary: Get the Library for a Build
      description: Retrieve the library from which a build was compiled.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/buildId'
      responses:
        '200':
          description: Library details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/LibrarySingleResponse'

  # Environments
              examples:
                Getlibraryforbuild200Example:
                  summary: Default getLibraryForBuild 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: libraries
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/environments:
    get:
      operationId: listEnvironmentsForProperty
      summary: List Environments for a Property
      description: Retrieve all environments belonging to a property.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of environments.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentListResponse'
              examples:
                Listenvironmentsforproperty200Example:
                  summary: Default listEnvironmentsForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: environments
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createEnvironment
      summary: Create an Environment
      description: Create a new environment under the specified property.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreateRequest'
            examples:
              CreateenvironmentRequestExample:
                summary: Default createEnvironment request
                x-microcks-default: true
                value:
                  data:
                    type: environments
                    attributes:
                      name: Example Title
                      stage: development
                      archive: true
                      path: example_value
                    relationships:
                      host:
                        data: {}
      responses:
        '201':
          description: Environment created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Createenvironment201Example:
                  summary: Default createEnvironment 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /environments/{environmentId}:
    get:
      operationId: getEnvironment
      summary: Retrieve an Environment
      description: Look up a specific environment by its ID.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Environment details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Getenvironment200Example:
                  summary: Default getEnvironment 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateEnvironment
      summary: Update an Environment
      description: Modify an environment's attributes.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/EnvironmentUpdateRequest'
            examples:
              UpdateenvironmentRequestExample:
                summary: Default updateEnvironment request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: environments
                    attributes:
                      name: Example Title
                      archive: true
                      path: example_value
      responses:
        '200':
          description: Environment updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EnvironmentSingleResponse'
              examples:
                Updateenvironment200Example:
                  summary: Default updateEnvironment 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: environments
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteEnvironment
      summary: Delete an Environment
      description: Remove an environment. Returns HTTP 204 on success.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '204':
          description: Environment deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /environments/{environmentId}/host:
    get:
      operationId: getHostForEnvironment
      summary: Get the Host for an Environment
      description: Retrieve the host configuration for an environment.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: Host details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'

              examples:
                Gethostforenvironment200Example:
                  summary: Default getHostForEnvironment 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /environments/{environmentId}/builds:
    get:
      operationId: listBuildsForEnvironment
      summary: List Builds for an Environment
      description: Retrieve builds associated with an environment.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/environmentId'
      responses:
        '200':
          description: A list of builds.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BuildListResponse'

  # Hosts
              examples:
                Listbuildsforenvironment200Example:
                  summary: Default listBuildsForEnvironment 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: builds
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/hosts:
    get:
      operationId: listHostsForProperty
      summary: List Hosts for a Property
      description: Retrieve all hosts belonging to a property.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterName'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of hosts.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostListResponse'
              examples:
                Listhostsforproperty200Example:
                  summary: Default listHostsForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: hosts
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createHost
      summary: Create a Host
      description: Create a new host under the specified property.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/HostCreateRequest'
            examples:
              CreatehostRequestExample:
                summary: Default createHost request
                x-microcks-default: true
                value:
                  data:
                    type: hosts
                    attributes:
                      name: Example Title
                      type_of: akamai
                      server: example_value
                      port: 10
                      path: example_value
                      username: example_value
                      encrypted_private_key: example_value
                      skip_symlinks: true
      responses:
        '201':
          description: Host created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'
              examples:
                Createhost201Example:
                  summary: Default createHost 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /hosts/{hostId}:
    get:
      operationId: getHost
      summary: Retrieve a Host
      description: Look up a specific host by its ID.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/hostId'
      responses:
        '200':
          description: Host details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'
              examples:
                Gethost200Example:
                  summary: Default getHost 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateHost
      summary: Update a Host
      description: Modify a host's attributes. Only SFTP hosts can be updated.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/hostId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/HostUpdateRequest'
            examples:
              UpdatehostRequestExample:
                summary: Default updateHost request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: hosts
                    attributes:
                      name: Example Title
                      server: example_value
                      port: 10
                      path: example_value
                      username: example_value
                      encrypted_private_key: example_value
                      skip_symlinks: true
      responses:
        '200':
          description: Host updated successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HostSingleResponse'
              examples:
                Updatehost200Example:
                  summary: Default updateHost 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: hosts
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteHost
      summary: Delete a Host
      description: Remove a host. Returns HTTP 204 on success.
      tags:
      - Hosts
      parameters:
      - $ref: '#/components/parameters/hostId'
      responses:
        '204':
          description: Host deleted successfully.
        '404':
          $ref: '#/components/responses/NotFound'

  # Callbacks
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /properties/{propertyId}/callbacks:
    get:
      operationId: listCallbacksForProperty
      summary: List Callbacks for a Property
      description: Retrieve all callbacks belonging to a property.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/propertyId'
      - $ref: '#/components/parameters/filterCreatedAt'
      - $ref: '#/components/parameters/filterUpdatedAt'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: A list of callbacks.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackListResponse'
              examples:
                Listcallbacksforproperty200Example:
                  summary: Default listCallbacksForProperty 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: callbacks
                      relationships: {}
                      links: {}
                    meta:
                      pagination:
                        current_page: 10
                        next_page: 10
                        prev_page: 10
                        total_pages: 10
                        total_count: 10
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createCallback
      summary: Create a Callback
      description: Create a new callback under the specified property.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/propertyId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CallbackCreateRequest'
            examples:
              CreatecallbackRequestExample:
                summary: Default createCallback request
                x-microcks-default: true
                value:
                  data:
                    type: callbacks
                    attributes:
                      url: https://www.example.com
                      subscriptions:
                      - {}
      responses:
        '201':
          description: Callback created successfully.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackSingleResponse'
              examples:
                Createcallback201Example:
                  summary: Default createCallback 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: callbacks
                      relationships: {}
                      links:
                        self: https://www.example.com
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /callbacks/{callbackId}:
    get:
      operationId: getCallback
      summary: Retrieve a Callback
      description: Look up a specific callback by its ID.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/callbackId'
      responses:
        '200':
          description: Callback details.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CallbackSingleResponse'
              examples:
                Getcallback200Example:
                  summary: Default getCallback 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: callbacks
                      relationships: {}
                      links:
                        self: https://www.example.com
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateCallback
      summary: Update a Callback
      description: Modify a callback's URL or subscriptions.
      tags:
      - Callbacks
      parameters:
      - $ref: '#/components/parameters/callbackId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CallbackUpdateRequest'
            examples:
              UpdatecallbackRequestExample:
                summary: Default updateCallback request
                x-microcks-default: true
                value:
                  data:
                    id: abc123
                    type: callbacks
                    attributes:
                      url: https://www.example.com
                      subscriptions:
                      - {}
      responses:
        '200':
          description: Callback updated successfully.
          content:
            application/vnd.api+json:
              schema:
[...]
